[2015-02-01 14:16] alistra opened #1 "Use produce with Enterprise accounts"
Feature Request to enable produce to skip the itunes connect part, so people with enterprise accounts can use it too.

[2015-02-01 14:19] #1 closed

[2015-02-01 14:21] KrauseFx commented on #1
you can use

[code]

[2015-02-02 06:16] almassapargali opened #3 "Though about config after #2"
Right now produce asks everything it needs before running app. Also on #2 we added if wrap to check if we're skipping iTC, though I found it very ugly. What do you think if we ask for config only we actually need, and still provide initial values.

We could do this by modifying [`Config.val`](https://github.com/KrauseFx/produce/blob/master/lib/produce/config.rb#L39-L42) to return value or given ke

[2015-02-02 09:41] KrauseFx commented on #3
Hey, that makes sense. If you can do that, I'd be happy to merge a pull request.

The advantage is, when using `produce` manually, it will only require the most basic information to be able to determine, it `produce` has to create new apps. This will make it easier when running for an app, that already exists.

[2015-02-02 11:37] #3 closed

[2015-02-02 11:37] almassapargali commented on #3
Closed on behalf of #4

[2015-02-04 03:00] nootread opened #9 "VersionMismatch"
produce
          /Users/user/.rvm/gems/ruby-2.0.0-p594@global/gems/cliver-0.3.2/lib/cliver/dependency.rb:151:in `raise_version_mismatch!': Could not find an executable 'phantomjs' that matched the requirements '~>
         1.8', '>= 1.8.1'. Found versions were {"/usr/local/bin/phantomjs"=>"2.0.0"}.   (Cliver::Dependency::VersionMismatch)
         from /Users/user/.rvm/gems/ruby-2.0.0-p594@global/

[2015-02-04 09:44] KrauseFx commented on #9
Related: https://github.com/KrauseFx/deliver/issues/92
I'll push a fix later today :+1:

[2015-02-04 09:56] KrauseFx commented on #9
Please update and let me know if it works :+1:
https://github.com/KrauseFx/deliver/releases/tag/0.7.6

[2015-02-04 09:56] #9 closed

[2015-02-08 16:41] lunarbase opened #10 "Creating updates"
Are you guys planning to add the creation of updates to produce?

I mean, I have an app on the store that is multi language and I want to create a new version to that app on iTunes connect, so I can later update the new version binary.

Would be fantastic if produce could do that. 😃

Anyway you guys are producing amazing tools so we can bypass the infamous and obnoxious online tools Apple have the

[2015-02-08 16:46] KrauseFx commented on #10
Hey nice duck,

We're actually a team of one, which is me, with a lot of great contributors :smiley:

Have you seen [deliver](https://github.com/KrauseFx/deliver) already? It does exactly that. Check out the other tools as well (I remember you submitting an issue on sigh, right?)

Anyway, you can create new versions with deliver, you don't have to provide an ipa to create a new version.

[2015-02-08 20:19] KatkayApps commented on #10
Hi, yes, that was me.

The big issue for me is understanding these tools correctly because the documentation starts on the premise that you know a lot already about the tools already or about the process involved and sometimes sound klingon to me.

At the current stage I understand sigh and produce at a basic level. I have tried snapshot and was not able to make it work. It failed during compilati

[2015-02-08 20:42] KrauseFx commented on #10
Would love to improve that. Can you help me with that? Can you briefly describe what you know about each tool and what it does and what's not clear from your perspective?

Are you an advanced iOS developer? Does http://fastlane.tools help?

You can also drop me an email via my GitHub profile :smiley:

[2015-02-08 20:42] #10 closed

[2015-02-16 11:02] iMstr opened #11 "special characters"
We have noticed that Produce often crashes when entering special characters in developer.apple.com because most of them are not allowed there while they are at iTunesConnect. Maybe it should be a good idea to leave them out there while still adding them in iTunesConnect.

[2015-02-18 11:16] KrauseFx commented on #11
I'd need to know which special characters are affected.

[2015-02-18 11:23] almassapargali commented on #11
On one of my past projects we had to latinise special characters, and I used following map:

[code]

@iMstr is this what you mean? I can send PR if @iMstr confirms this.

[2015-02-18 11:29] meyskens commented on #11
I digged in Apple's code and I found the allowed characters are `[0-9A-Za-z\d\s]` or as Apple calls it `AlphaNumericWithSpace`  (source: https://developer.apple.com/account/scripts/account-min.js?238309)

[2015-02-18 11:30] KrauseFx commented on #11
@iMstr sounds about right. How did you find out? Does Apple verify via JavaScript?

[2015-02-18 11:31] almassapargali commented on #11
So I think this map would do the trick. Will send PR later today, if no one else sends 😉

[2015-02-18 11:34] KrauseFx commented on #11
The map looks great, please put it in its own file / class to not pollute the actual source code with it :wink:

[2015-02-18 11:37] almassapargali commented on #11
I guess this should go to `fastline_core`, right?

On February 18, 2015 at 5:34:40 PM, Felix Krause (notifications@github.com) wrote:

The map looks great, please put it in its own file / class to not pollute the actual source code with it

—
Reply to this email directly or view it on GitHub.

— 
Thanks,
Almas Sapargali
http://almassapargali.com

[2015-02-18 17:02] almassapargali commented on #11
@KrauseFx what do you think about [this](https://github.com/almassapargali/fastlane_core/compare/string-ext?expand=1)? I think we could use this on `sigh` and `produce` then.

[2015-02-18 17:06] KrauseFx commented on #11
Looks really cool, thanks for working on a fix. The only thing I noticed, it doesn't convert `ß` to `s` or `ss`.

Also as @iMstr mentioned, we'd also need to remove characters like `-` and `_` to only have `[0-9A-Za-z\d\s]`

[2015-02-18 17:11] almassapargali commented on #11
Yeah, sure I think my solution isn't so flexible. F.e. it can replace 2 or 3 character accents, will continue on this tomorrow. (late here)

[2015-02-19 18:34] alistra opened #12 "PRODUCE_SKU could be filled by default"
Most people don't care about SKU when submitting apps.

You can try to just do a random 6 digit number. There are statistically small chances that you have a collision on SKU, and the user can do this more automatically

[2015-02-22 18:33] powtac opened #14 ""uninitialized constant FastlaneCore::Helper" crash when running produce"
[code]

[2015-02-22 19:29] KrauseFx commented on #14
Wow, this was fixed https://github.com/KrauseFx/produce/commit/c801f7565e900a1a8a6dfc41afe0afbc21dcac58 but I haven't released a new version. Thanks for letting me know, I'll release a new version in a second.

[2015-02-22 19:31] KrauseFx commented on #14
Sorry about that, here's the new version: https://github.com/KrauseFx/produce/releases/tag/0.1.5

[2015-02-22 19:31] #14 closed

[2015-02-22 19:32] KrauseFx commented on #11
Thanks @almassapargali, the first step is already done with https://github.com/KrauseFx/fastlane_core/pull/1

[2015-02-22 20:03] powtac commented on #14
Enterprise support - Thanks a lot!

[2015-02-22 20:05] KrauseFx commented on #14
Haha, made me laugh. Trying to reply to issues 24/h :laughing: Difficult as a one person team, who does it in his free time, but still a better service than most big companies :+1:

[2015-02-22 20:14] powtac commented on #14
I know. I meant this as "what you expect when buying enterprise support" (but obviously not what you actually get.) ;-) So in other words: speedy high professional support.

[2015-02-23 09:24] martynovskij opened #15 "There is no possibility to set different emails to login in iOS Developer portal and iTunes Connect"
I have not found an opportunity to set different emails to login iOS Developer portal and iTunes Connect.

[2015-02-23 10:02] KrauseFx commented on #15
Sorry, there is no way to set different emails. Why do you need it?

[2015-02-27 16:09] robwithhair opened #16 "Additions to the fastlane Appfile?"
Wouldn't it make sense for all the following info to be in the fastlane/Appfile?
[code]

[2015-03-04 19:30] #11 closed

[2015-03-09 00:00] KrauseFx commented on #16
Not sure honestly. It should be a `Producefile`, which wouldn't make a lot of sense, since it's changing every time anyway.
How would you use it differently?

[2015-03-09 00:00] KrauseFx commented on #15
I'll close this issue for now, feel free to re-open it again.

[2015-03-09 00:00] #15 closed

[2015-03-09 00:33] robwithhair commented on #16
It just seems that it would make sense to have one file which specifies all the options for an app which could be read by all the fastlane tools.  Tools would then specify the location of that file so they could have different settings if required but most tools would use the same file/information.  Having duplicate data repeated and search-and-replaced across multiple files seems less than ideal,

[2015-03-10 15:09] woutergoossens opened #19 "App already exists"
Hi,

I am trying to add a new application with produce but I am getting the warning message that my app already exists. But that name is not yet used.. Tried with several application names and always the same message. Any idea?

Thanks

Logs:
INFO [2015-03-10 16:03:00.52]: Login into iOS Developer Center
INFO [2015-03-10 16:03:11.67]: Login successful
App Name: Find your Mojo
INFO [2015-03-10 16:0

[2015-03-10 17:13] KrauseFx commented on #19
Does that happen every time you use `produce`? Did it work before?

Open iTunes Connect and click the + Icon on the top left. Does your app appear in the dropdown?

Can you try with a different app identifier and app name?

[2015-03-10 17:21] woutergoossens commented on #19
It is the first time I want to use it.

It does not appear when I click the + icon in iTunes Connect so the app is not created and does not exist in iTunes Connect.

I am starting produce but it is only asking for me the app name and then it gives the warning. How can I start produce that it asks for the app identifier?

Thanks!

MacBook-Pro-Retina-Wouter:Else woutergoossens$ produce -u *****
INFO

[2015-03-10 18:15] KrauseFx commented on #19
I tried it and it worked perfectly fine. I'll need more information. Are you running `produce` in a directory with a `fastlane` folder?

[2015-03-10 18:16] woutergoossens commented on #19
Yeah that's it! When I run it from another directory it asks for the app identifier

Thanks

[2015-03-10 18:42] KrauseFx commented on #19
I'll leave this issue open. I guess it doesn't make sense to fetch the information from the Appfile for `produce`. Thanks for letting me know.

[2015-03-11 14:33] dral3x opened #20 "Apps with wildcard in application id"
Hello,
i'm trying to automate the publishing of a series of apps we did.

We have an app id with wildcard created in the developer center (com.myapps.*).
We build the real apps with the same certificate and generating an app identifier like com.myapps.app-100. Building and sign are just fine.

With produce (and fastlane) we just need to create a new app (or update one) in the itunes connect portal

[2015-03-11 15:04] KrauseFx commented on #20
Hi, yes `produce` can create new App IDs on the Apple Developer Portal and iTunes Connect. (not right now, since Apple's servers are down...)

Check out this `fastlane` example on how to use it: https://github.com/KrauseFx/fastlane/blob/master/Actions.md#produce

Does that help?

[2015-03-11 15:11] dral3x commented on #20
I know that, but I don't want to :)
I would like to skip the Dev Portal step and let `produce` creates the app only on iTunes Connect (when it will be up & running again).

I saw there is PRODUCE_SKIP_ITC to let `produce` skip the second step but nothing for skipping the first.
Could you add also that option?

Thanks!

[2015-03-11 15:14] KrauseFx commented on #20
You could probably just pass the app identifier `com.myapps.*` and `produce` should not create a new Apple ID on the Apple Developer Portal. Could you try that?

[2015-03-11 15:16] KrauseFx commented on #20
Mh, that might not work, since it won't create a new app on iTC then.

[2015-03-11 15:17] dral3x commented on #20
I did, but produce tried to create a new app on iTC with that app id

[code]

Than it failed because the servers are down.

[2015-03-11 16:11] dral3x commented on #20
Anyway, I think the easier solution here is to let me skip the DevCenter step.

[code]

[2015-03-12 11:22] dral3x opened #21 "How to contribute"
Hello there,

i'm interested in developing the features I need to handle my use case.

I forked the repository and i'm making changes in the code but I cannot run "my" code. It still executing the original gem code.

Could you please guide me on how to ensure my local version of "produce" is executing when I run "fastlane"?

Thanks

[2015-03-12 11:25] KrauseFx commented on #21
Thanks, I think I have to publish a guide describing that.

To use the local gem, just run `./bin/produce` instead of just `produce`. Additionally, you can run `sudo bundle install` and `sudo rake install` to install the gem to your machine.

To debug, add these 2 lines to the code:

[code]

This will open the interactive debugger, which makes things much simpler. To create screenshots during exec

[2015-03-12 11:34] dral3x commented on #21
Nice!
Hopefully soon you will have a new pull request ;)

[2015-03-12 11:34] #21 closed

[2015-03-12 15:53] dral3x commented on #20
The result is inside PR #22

[2015-03-12 16:06] #20 closed

[2015-03-16 09:46] dral3x commented on #16
In my case, I generate the `.env` file with a lot of information and reference them in the Deliverfile and Fastfile with `ENV["CUSTOM_VAR"]`.

[2015-03-24 00:09] ehlersd opened #23 "Error Creating iTunesConnect app"
I set the environment variables:

    export PRODUCE_USERNAME=xxx@xxx.xxx
    export PRODUCE_APP_IDENTIFIER=com.xxx.appname
    export PRODUCE_APP_NAME=unique_appname
    export PRODUCE_LANGUAGE=English
    export PRODUCE_VERSION=2.12
    export PRODUCE_SKU=APPSKU

And produce is called.

It handles the Apple Dev Portal fine (the app exists), then logs successfully into iTunesConnect and ends with

[2015-03-24 10:16] KrauseFx commented on #23
I just tested, it worked for me. Please provide the full output and the screenshot, which was generated by `produce`.

[2015-03-24 15:02] ehlersd commented on #23
@KrauseFx In digging further, it was due to an updated Apple agreement that needed to be accepted.  This morning, it started failing also on the Dev Portal (before it gets to iTunesConnect) for the same reason.  It would be helpful if it could fail gracefully with an error, instead of just crashing...

[2015-03-24 15:32] #23 closed

[2015-03-24 15:33] KrauseFx commented on #23
It would be helpful if you could upload the screenshot that is generated and opened after it failed. I'm pretty sure the screenshot had a big warning about the new agreement on it.

[2015-03-24 19:10] ehlersd commented on #23
@KrauseFx I hope these help!
- Darren

![screenshot 2015-03-24 13 17 05](https://cloud.githubusercontent.com/assets/2302997/6810546/6c81e6fc-d22f-11e4-8bd4-e3155e2bc1d6.png)
![screenshot 2015-03-24 14 09 09](https://cloud.githubusercontent.com/assets/2302997/6810552/71bdae94-d22f-11e4-84e2-8608490d0a1c.png)

[2015-03-24 19:11] KrauseFx commented on #23
Thank you, I'll check what I can do :+1:

[2015-04-02 16:46] adennen opened #25 "Fastfile produce_app_name: gets modified"
Hello, when running "fastlane appstore" I came across an unusual bug which is "produce_app_name" with consecutive letters in their name are modified, e.g. "Looooong name" => "Long name". Why does this happen?

Command line output:
[code]

Fastfile contents:

[code]

[2015-04-02 17:41] KrauseFx commented on #25
This is probably the part developed by @almassapargali, which takes care of removing unsupported characters for the Apple ID.

It's probably not a big problem, as the user facing name on iTunes Connect uses the original name, right?

[2015-04-02 18:50] adennen commented on #25
I'm not sure, I aborted the script as soon as I saw the name was wrong. "Jefferson" was being shown as "Jeferson". That's for a new app.

[2015-04-02 18:51] almassapargali commented on #25
I sent a patch. Sorry about that.

@KrauseFx please take a look at pull request above.

[2015-04-02 18:59] KrauseFx commented on #25
Thanks again everyone, that was a fast fix: https://github.com/KrauseFx/fastlane_core/releases/tag/0.4.2

Please update using `sudo gem update fastlane_core` :+1:

[2015-04-02 18:59] #25 closed

[2015-04-02 19:14] adennen commented on #25
Thank you. I checked my itunesconnect account and it looks like it did create the correct app name but I wasn't sure at first. Cheers.

[2015-04-02 19:17] KrauseFx commented on #25
Great to hear :+1:

[2015-04-06 16:11] carlosefonseca commented on #12
My script that uses produce to create apps contains this
`ENV['PRODUCE_SKU'] = Time.now.to_i.to_s`
:stuck_out_tongue:

[2015-04-06 17:36] KrauseFx commented on #12
Nice and easy solution!

[2015-04-07 18:52] ericertl opened #26 "I have literally thousand apps, and the script can't find the app it has just created and crashes"
[code]

[2015-04-07 18:56] KrauseFx commented on #26
Ha, I guess that's because you have thousands apps! When you open the App IDs list on the Apple Developer Portal, do you see all app IDs? Do you have to click somewhere to see all?

[2015-04-07 18:58] ericertl commented on #26
The portal doesn't load all appids at once.
I have either to scroll a lot and the list populates dynamically or search for the name (which is faster)

[2015-04-07 19:00] ericertl commented on #26
In an ideal world, if the appid name search fails, it should try to do a search?

[2015-04-07 19:10] KrauseFx commented on #26
Yes, exactly. Or it could use the new API https://github.com/KrauseFx/sigh/pull/72 :+1:

[2015-04-07 19:27] ericertl commented on #26
That would be even better. Nice job man. I'm using snapshot and deliver, and they made work like a charm

[2015-04-13 19:09] drupalmodule opened #27 "produce_app_identifier_suffix now required after update"
Since I updated yesterday, fastlane file now is requiring  produce_app_identifier_suffix.  If I do not include it the script stops and asks me to enter one.  We are using a wildcard cert.

this is the line I had been using:
[code]
and this is now what is required
[code]
Thanks for the great software suite.  If you need me to test anything - let me know.

[2015-04-13 19:15] KrauseFx commented on #27
This change was introduced with https://github.com/KrauseFx/produce/pull/22

@dral3x: Could you help @drupalmodule here?

[2015-04-14 07:03] dral3x commented on #27
Sure!

Because you're using a certificate with wildcard bundle id, `produce` can skip the Dev Center step and directly create the app in iTC.
To do that, you have to place this line above your produce command in `Fastfile`

[code]

We do the same in our company.

[2015-04-14 09:01] KrauseFx commented on #27
@dral3x thanks for your reply. But why does it require the input when running it without the `SKIP_DEVCENTER` option? Isn't that confusing for the user?

[2015-04-14 09:12] dral3x commented on #27
@KrauseFx iTC does not allow us to create an app with a wildcard bundle id. That's why suffix is required with those kind of bundle ids.

@almassapargali asked me to add that parameter as question, so when user passed a wildcard bundle id, produce ask for the suffix. I think it's the right thing to do.

[2015-04-15 18:05] coreyfloyd commented on #27
Just found this, definitely a regression…

I am now required to add the suffix as well. @dral3x do you have a fix coming? if not I can put one together.

[2015-04-15 18:07] coreyfloyd commented on #27
Just to follow up - I think the proper fix is to ignore whether the wildcard is in the cert or not. The important part is if the produce_app_identifier has an `*` or not. And require the suffix based on that.

[2015-04-15 18:11] KrauseFx commented on #27
@coreyfloyd Okay good to know. Sorry I didn't see this. I'm not using that part myself. I'm happy to merge a pull request fixing this. :+1:

[2015-04-15 18:19] coreyfloyd commented on #27
@KrauseFx thanks! If you need me to test let me know.

[2015-04-15 18:20] coreyfloyd commented on #27
@drupalmodule also a less intrusive fix, you can just pass an empty string:

`produce_app_identifier_suffix = ''`

[2015-04-16 06:56] dral3x commented on #27
As far as I remember, the suffix is requested by produce ONLY if the passed bundle identifier has an \* at its end.
This should be done in [this line](https://github.com/KrauseFx/produce/blob/master/lib/produce/itunes_connect.rb#L13)

[2015-04-16 07:39] KrauseFx commented on #27
Yes apparently, `produce` shouldn't ask for this value even for `*` apps.

[2015-04-16 07:51] dral3x commented on #27
Is it allowed by iTC creating an app with starred bundle id ?

[2015-04-16 09:25] KrauseFx commented on #27
@coreyfloyd @drupalmodule

[2015-04-17 07:24] dral3x commented on #27
I'm pretty sure that you cannot, so in order to create the app inside iTunes Connect, you MUST provide a bundle id suffix when you're using a wildcard bundle id.
Wildcard bundle id makes sense only for using a single certificate to sign multiple apps but each app must be unique in the AppStore

[2015-04-17 15:35] coreyfloyd commented on #27
@dral3x @KrauseFx In my case, I specify a fully qualified bundle identifier for the sigh action and the produce action. So the provisioning profile for sure does not include a "*";

Even still, the suffix is definitely being requested during the build process.

Not sure why that is the case… maybe a logic error elsewhere. Haven't been able to troubleshoot this week - had to just do the fix that I

[2015-04-21 12:57] dral3x opened #28 "PRODUCE_LANGUAGE is set to Uk English but it's not one of available languages"
The thing is I passed the correct "UK English" string.

My fastfile is this
[code]

and all my `CUSTOMAPP_*` property are inside a `.env` file, like this
[code]

What am I missing? Why the string changes?
Any help is appreciated

[2015-04-21 13:04] dral3x commented on #27
Oh ok, this is a bug indeed. When I worked on this feature, I checked that the parameter was asked only if needed.

[2015-04-21 14:28] KrauseFx commented on #28
What string changes?

[2015-04-21 14:30] dral3x commented on #28
The language specified.
The problem is here https://github.com/KrauseFx/produce/blob/master/lib/produce/config.rb#L70

I'm working on a fix to avoid that.

[2015-04-21 14:31] KrauseFx commented on #28
Thank you @dral3x, really appreciated :+1:

[2015-04-21 15:13] dral3x commented on #28
Here we are, PL https://github.com/KrauseFx/produce/pull/29

[2015-04-22 08:14] nAviram opened #30 "ITC company name"
Hi,
When adding a new app in ITC, there is a field to enter the account company name (if the user is signed as a company).
Is there a way to add this as a variable in Produce?

[2015-04-22 15:34] ericertl opened #31 "I can't create a new app in itc"
I created a lane skipping devcenter and just focusing on create the app in itc, but I'm getting this error:

[code]

[2015-04-27 11:41] #28 closed

[2015-04-27 17:03] frranck opened #32 "produce asking me for "App Identifier Suffix" with PRODUCE_APP_IDENTIFIER set"
produce is asking me for "App Identifier Suffix" when i have the PRODUCE_APP_IDENTIFIER variable set. Note that I'm not using any wildcards, I use a shell variable to define the bundle.

[2015-04-29 09:36] robwithhair commented on #27
When specifying the `app_identifier "com.foo.bar"` in the Appfile this still prompts for `produce_app_identifier_suffix` unless it is placed in the Fastfile as an empty string.

My Fastfile works now I replaced with the following.

[code]

[2015-05-01 15:34] richardbrammer commented on #27
I can confirm the impediment, that the `produce_app_identifier_suffix:` has to be added in `Fastfile`, even though the `produce_app_identifier`is defined.

[2015-05-03 11:45] KrauseFx commented on #27
I'm not using `produce` myself. If anyone's handing in a pull request, I'm happy to merge it :+1:

[2015-05-03 13:50] KrauseFx commented on #31
Sorry for the delayed reply. Do you still experience this problem?

[2015-05-03 15:32] ericertl commented on #31
I can try again, but I didn't see any update for this gem

On Sunday, May 3, 2015, Felix Krause notifications@github.com wrote:

[2015-05-04 00:13] #27 closed

[2015-05-04 00:48] KrauseFx commented on #32
Please let me know if the latest version fixes this problem :+1:

[2015-05-05 07:04] username12345678901 opened #34 "App "NewProject" exists already, nothing to do in iTunes Connect."
App "NewProject" already exists,  nothing to do in iTunes Connect.
App "NewProject" already exists,  nothing to do on the Dev Center.

The above are shown when I try to create App ID's in iTunesConnect and Dev Center using Produce.
Currently Produce  is not creating any application , neither on the iTunesConnect nor on Dev Center, but it just simply says that the NewProject already exists. Even if

[2015-05-05 08:16] KrauseFx commented on #34
According to `produce` the application seems to exist already. Also, could you update `produce`?

[2015-05-05 11:55] username12345678901 commented on #34
Well I dont see anything neither in the ios developer center  nor in itunes connect. I did run the install cmd on terminal, and ran the produce command again. It still gives the message. There are no apps in the itunes connect.

[2015-05-05 13:11] frranck commented on #32
no it stills ask in the latest version

[2015-05-06 15:40] KrauseFx commented on #34
You can't just call produce like that. You have to either use environment variables (https://github.com/KrauseFx/produce#environment-variables) or use `fastlane`.

[2015-05-06 15:40] #34 closed

[2015-05-06 16:33] robwithhair opened #35 "Produce can't log in to itunes connect after fastlane update"
After updating all gems to most recent version I am getting the following error on produce.

[code]

I can log into itunes connect in the browser, and I know the password hasn't changed because I noticed the error building from jenkins.  Using lastpass as my password manager so I'm pretty sure I'm not going crazy.  Anyway, the login to the dev centre works fine.

[2015-05-06 16:33] robwithhair commented on #35
I'm now on version 0.2.1 of produce

[2015-05-06 16:41] robwithhair commented on #35
No error file is generated.

[2015-05-06 16:50] KrauseFx commented on #35
@robwithhair does this happen for `sigh` and the other tools as well? It shouldn't be related to `produce`. Can you send me a screenshot of the apple dev portal after logging in manually? I assume there is something wrong with this specific account.

[2015-05-06 16:50] KrauseFx commented on #35
Oh, sorry, I meant, please login to iTunes Connect and send a screenshot of this.

[2015-05-06 16:51] robwithhair commented on #35
Apple dev portal was fine after logging in normally.  I restarted the
server and it seems to have fixed the issue.  Just waiting for a build to
complete to check all the other fastlane modules.

On 6 May 2015 at 17:50, Felix Krause notifications@github.com wrote:

##

Kind regards,

Rob Harrison
T: 0800 160 1602
E: rob@appinstitute.co.uk

##

[2015-05-06 16:54] robwithhair commented on #35
Issue seems to have solved itself after reboot of server.  I'll reopen if it crops up again.  Thanks, sorry to bother you again.

[2015-05-06 16:54] #35 closed

[2015-05-06 22:15] ericertl commented on #31
I'm still experiencing this.
For this error (Firing a click at co-ordinates [-9910.5, 162.5] failed.), I think the issue might be either due to my mac resoultion or for the tons of apps I have in ITC.

FATAL [2015-05-06 18:49:58.86]: fastlane finished with errors
/Library/Ruby/Gems/2.0.0/gems/poltergeist-1.5.1/lib/capybara/poltergeist/node.rb:23:in `rescue in command': Firing a click at co-ordinat

[2015-05-14 16:53] blackm00n commented on #32
@frranck Do you export your shell variable before calling produce?

[2015-05-14 18:45] frranck commented on #32
yes I do, the same scripts i'm using were working a few weeks ago, they just "broke"

[2015-05-14 18:51] blackm00n commented on #32
@frranck well, strange I use produce gem of version 0.2.1, my scripts are working

[2015-05-15 09:13] riccardo91 opened #36 "Produce doesn't work"
Probably due layout changing in appstore or because it's the first app.

log:
Couldn't find 'td[aria-describedby='grid-table_identifier']'

![error1431680899](https://cloud.githubusercontent.com/assets/5451098/7650081/438e9d16-faf3-11e4-9bfd-863fe89b5ad0.png)

[2015-05-15 09:15] KrauseFx commented on #36
Ha, it seems like `produce` requires at least one app to be created. Can you try creating one empty app manually and running `produce` again? There will be a bigger update to `produce` soon :+1:

[2015-05-15 09:45] riccardo91 commented on #36
the ios developer portal step worked
Unfortunately the itunes connetct step doesn't work

Capybara::Poltergeist::MouseEventFailed
Library/Ruby/Gems/2.0.0/gems/poltergeist-1.5.1/lib/capybara/poltergeist/node.rb:23:in `rescue in command': Firing a click at co-ordinates [34.5, 69.5] failed. Poltergeist detected another element with CSS selector 'html.js body.ng-scope.is-not-homepage div#pageWrapper.n

[2015-05-15 09:52] riccardo91 commented on #36
same problem, i need to create at least one app in Itunes connect

[2015-05-18 12:06] frranck commented on #32
@blackm00n tested it today, it's working properly...

[2015-05-18 12:06] #32 closed

[2015-05-18 12:47] KrauseFx commented on #32
Great to hear :+1:

[2015-05-26 09:10] alistra commented on #12
so can somebody add this? :D

[2015-05-26 09:19] KrauseFx commented on #12
@alistra Feel free to submit a pull request, it probably isn't that hard.

[2015-05-26 09:38] KrauseFx commented on #12
Implemented with https://github.com/fastlane/produce/pull/37, thanks @alistra :+1:

[2015-05-26 09:38] KrauseFx commented on #12
Implemented with https://github.com/fastlane/produce/pull/37, thanks @alistra :+1:

[2015-05-26 09:38] #12 closed

[2015-05-26 18:34] SPDEX opened #38 "Crash on save_screenshot"
[code]

[2015-05-27 14:02] RamboPeet commented on #36
I get exactly the same error. There needs to be at least one app for Produce to work. Because it's looking for UI elements on the Dev portal page.

Anybody found a solution for this yet? :disappointed:

[2015-05-27 14:09] riccardo91 commented on #36
Hello @Darkreaper101,
just create an app and everything will work. i've created a test app that i don't use.

[2015-05-27 15:42] RamboPeet commented on #36
Hi @riccardo91 thanks I did do that, but I would like to automate the entire process.

If this something that we can look at fixing in the future?
I will definitely contribute where I can, but I'm not a ruby developer. :smile:

Anyways thanks for the advice.

[2015-05-27 16:00] KrauseFx commented on #36
@Darkreaper101 this will be fixed as soon as we switch to `spaceship`, which will be next big update :wink:

[2015-05-27 16:17] RamboPeet commented on #36
@KrauseFx Ah cool that's awesome, if I may as what is spaceship?

[2015-05-27 16:56] KrauseFx commented on #36
@Darkreaper101 still a secret ;)

[2015-05-27 17:50] RamboPeet commented on #36
Haha well okay then I'll wait for it, and help out where I can. :+1:

[2015-05-29 21:55] ericertl commented on #12
You can use letters as well for SKU. I use the last part of the bundle id as the SKU for apps

[2015-06-02 08:25] osrufung opened #40 "capybara exception"
It doesn't create the ITC App :(
[code]

[2015-06-02 09:00] osrufung commented on #31
same error here...

Tons of Apps in my ITC account... :(

any fix?

[2015-06-05 10:33] robwithhair commented on #36
+1 Experiencing the same issue.  How close are we to spaceship produce @KrauseFx?

[2015-06-06 15:04] KrauseFx commented on #36
@robwithhair: I already upgraded `produce` to use `spaceship`, but can't test and push the code right now due to my really bad internet connection. I'll make sure to have it released early next week. :rocket:

[2015-06-06 15:06] robwithhair commented on #36
Fantastic! No great rush on my account. It's not stopped our build servers from running just the odd build that fails that's all.

##

[2015-06-16 05:17] KrauseFx commented on #36
Forgot to update this issue. There is a new version live which makes use of `spaceship` for the Apple Dev Portal part. Please let me know if that works for you :+1:

[2015-06-16 05:18] KrauseFx commented on #38
This issue is resolved in the latest version.

[2015-06-16 05:18] #38 closed

[2015-06-16 05:18] KrauseFx commented on #26
@ericertl Can you try the latest version and let me know if that works for you? :+1:

[2015-06-16 05:19] KrauseFx commented on #19
Have you tried the latest version?

[2015-06-16 05:19] KrauseFx commented on #16
I'll close this issue for now, as the configuration is stored in the `Fastfile`. Thanks for your feedback :+1:

[2015-06-16 05:19] #16 closed

[2015-06-16 05:20] KrauseFx commented on #30
This is possible with the latest version thanks to @mathcarignani :+1:

[2015-06-16 05:20] #30 closed

[2015-06-16 06:27] chintan1891 opened #43 "Getting exception while creating any application which is already exists on iTunesconnect"
Hi,
I am trying to run "produce" tool with a Bundle ID which is already there on iTunesconnect.
This tool is throwing an exception instead on giving proper error message.

Below is the exception detail :

[code]

[2015-06-16 08:11] robwithhair opened #44 "constantly prints out team names on v0.3.0"
Basically having the same problem which occurred during the bata release of Sigh with spaceship where it constantly asked for team name in a never-ending loop.  This is probably due to defining team name rather than team id and this feature is unsupported yet in the new version of produce.  I believe this was the problem last time.

[2015-06-16 08:17] KrauseFx commented on #44
`FASTLANE_TEAM_NAME`, right?

[2015-06-16 08:24] robwithhair commented on #44
In the Appfile it was team_name, which I think is what we use and yes the env var is FASTLANE_TEAM_NAME

[2015-06-16 09:19] robwithhair commented on #44
Tried 3.1 still same issue.  Repeatedly asks for team and fills up the console in a loop printing the same thing over and over.

[2015-06-16 09:29] #36 closed

[2015-06-16 09:32] robwithhair commented on #44
Any idea what this is? Seems to be the same issue we were seeing on Sigh, but sigh works fine now.

[2015-06-16 09:36] KrauseFx commented on #44
Could you try passing the `PRODUCE_TEAM_NAME` instead and see if that works?

[2015-06-16 09:38] osrufung commented on #40
since 0.3.0, not affected... Am i wrong?:)

[2015-06-16 09:38] #40 closed

[2015-06-16 09:46] robwithhair commented on #44
Nope, still not working when I set this environment variable.  Still prompts for team and gets stuck in infinite loop when from fastlane.

[2015-06-16 09:48] robwithhair commented on #44
During this test I am running the following
`export PRODUCE_TEAM_NAME="AppInst Ltd"` followed by `produce` and it prompts for team

[2015-06-16 10:02] robwithhair commented on #44
running fastlane 1.4.0

[2015-06-16 11:29] ericertl commented on #26
Error while creating the app id (which is not listed in the first page) on dev center is gone! WOOT!!
I'll test the itunes connect part and leave you more comments

[08:26:09](---------------------): --- Step: default_platform ---

[08:26:09](---------------------): Driving the lane 'ios devCenter'

[08:26:09](---------------------): --- Step: produce ---

Logging spaceship web requests to '/tmp/s

[2015-06-16 15:26] robwithhair commented on #44
Any luck with this?  Anything I can do to help you diagnose the issue?

[2015-06-16 15:32] ericertl commented on #26
Unfortunately creating the app on itunes connect still throws the same error :.(
(but that's on another issue ticket, so this one can be closed)

[2015-06-17 05:27] KrauseFx commented on #44
I found the issue and push a fix in a minute

[2015-06-17 05:29] KrauseFx commented on #44
Pushed a fix, please let me know if that works for you.

[2015-06-17 09:27] robwithhair commented on #44
I am going to clone the build server and try the update.  This will take a little time but should be able to test without affecting app builders.  Thanks for getting the fix out.

[2015-06-17 09:29] KrauseFx commented on #44
It's already available on RubyGems, you should be able to update using `sudo gem update produce`

[2015-06-17 15:00] osrufung commented on #31
Same bug (randomly appears) in 0.3.2 version of Produce 😕

[2015-06-18 11:57] pedro380085 opened #45 "PRODUCE_COMPANY_NAME"
Hi @KrauseFx,

I see that there is a new environment variable: PRODUCE_COMPANY_NAME

What is the purpose of it?

Thanks,

[2015-06-18 14:17] pedro380085 commented on #45
Saw source code, understand that it is a possible field to create a new bundle. Thanks!

[2015-06-18 14:17] #45 closed

[2015-06-18 15:26] ericertl commented on #43
I experienced this one too. It'd be nice to show an error telling the appid is already created instead of this crash

[2015-06-18 16:22] pedro380085 opened #46 "wrong number of arguments (2 for 1)"
[code]

I took a look into source, I don't get how wait_for_elements can be called with two arguments since its implementation only accepts one.
[code]

[2015-06-18 16:59] pedro380085 commented on #46
Maybe fastlane_core is not yet with `wait_for_elements` updated version?

[2015-06-18 17:20] KrauseFx commented on #46
That's not good, please temporary update using `sudo gem update fastlane_core`, I'll push a fix later :+1:

[2015-06-18 17:54] pedro380085 commented on #46
Hi @KrauseFx, I always run `sudo gem update` before running fastlane.

Thanks, I'll wait for it!

[2015-06-19 05:35] KrauseFx commented on #46
Oh, this was introduced with https://github.com/fastlane/produce/pull/39, as I didn't merge the `fastlane_core` pull request. I just pushed a new version, please let me know if that fixes your problem :+1:

[2015-06-19 05:37] KrauseFx commented on #43
That shouldn't happen and has worked before. Apple seemed to have changed something on their API, I'll take a closer look at this :+1:

[2015-06-25 10:36] KrauseFx commented on #44
@robwithhair is this issue resolved?

[2015-06-25 11:28] robwithhair commented on #44
Yep

[2015-06-25 11:28] #44 closed

[2015-06-26 15:12] gfpacheco opened #47 "Prevent produce from asking for company name"
I'm using Fastlane to create, build and deploy many apps.
To make it scalable we need to make it work without human intervention.
Is there any way of preventing produce of asking for a company name?
I tried to send an empty string as parameter, but it doesn't work since an empty string is falsy.
I know I can just fill the parameter with the correct name, just wondering if there's another option.

[2015-06-27 02:14] KrauseFx commented on #47
Actually, `produce` should not ask for the company name, looks like this bug was introduced with https://github.com/fastlane/produce/pull/39.

I pushed a fix, you could try it out https://github.com/fastlane/produce/commit/7a2b93c6e4da9ab9b988572db8cfdd744f5cad53

I'll push a new version next week.

[2015-06-27 19:14] gfpacheco commented on #47
It worked, thanks. Looking forward for the next release

[2015-06-27 23:54] KrauseFx commented on #47
Thanks for letting me know, I just pushed the new version :+1:

[2015-06-27 23:54] #47 closed

[2015-06-28 22:41] cytatar opened #48 "can't dup NilClass error"
Hi,
Produce created this error after I entered the version number of the application. I also tried with fastlane to create new app but result is the same.

[code]

[2015-06-29 15:38] KrauseFx commented on #48
Sorry, that's my fault, I'll push a fix shortly :+1:

[2015-06-29 15:41] KrauseFx commented on #48
Thanks for reporting, this is fixed now, please upgrade to the latest version by running `sudo gem update produce` :+1:

[2015-06-29 15:41] #48 closed

[2015-06-29 20:03] cytatar commented on #48
Thank you @KrauseFx , it works like a charm :+1:

[2015-07-03 11:14] mcactive opened #50 "InvalidUserCredentialsError, wrong username in log file"
Hi,

I'm trying to use Produce to create a new inhouse app. I've set it up like this:

[code]

In the terminal it seems like everything is fine, it asks me for my password for appledevelopment@domain.com, but then it cannot login, even though the credentials are right..

[code]

In the logfile I see the response of the login screen:

[code]

But the weird thing, in the pre-filled appleId field, it

[2015-07-05 16:05] KrauseFx commented on #50
That's incorrect, @mathcarignani is working on a big upgrade of `produce` which should fix this issue :+1:

[2015-07-06 08:06] shoshRose commented on #19
I get the same message for the developer center. but an error when from iTunes Connect:
(The app does NOT exist on Dev Center)
How can this be resolved?

[11:00:23](---------------------): --- Step: produce ---

Logging spaceship web requests to '/tmp/spaceship.log'
[11:00:30]: App 'paShosh' already exists, nothing to do on the Dev Center
[11:00:32]: Logging into iTunesConnect
[11:00:51]: Successf

[2015-07-06 08:21] KrauseFx commented on #19
@shoshRose @woutergoossens Take a look at https://github.com/fastlane/produce/pull/49 @mathcarignani is working on a cool upgrade of `produce` :+1:

[2015-07-06 10:16] shoshRose commented on #19
thnx my issue has been resolved.

[2015-07-06 10:33] KrauseFx commented on #19
@shoshRose it has been resolved with the pull request?

[2015-07-06 11:53] shoshRose commented on #19
no, my bad..
I had an issue in the Appfile

[2015-07-12 07:35] ophirharpaz opened #51 "Produce's Environment Variables"
Hey there,
I was trying to learn on passing environment variables to produce. But as I saw - the final command must include a lane name.
Is there any way to pass arguments to produce without needing to create a new lane (or dealing with the fast file at all), but only by using the produce command?

I'm asking this since I would like to use produce in a new bash script.

Thanks a lot in advance.

[2015-07-12 07:45] ophirharpaz opened #52 "Editing App Account with Produce"
Hello,
I'm a newbie and this question might sound funny...
Can Produce change details (for example, the name) of an existing app in Apple Developers and iTunes Connect?

Thank you.

[2015-07-12 08:42] KrauseFx commented on #52
No, but you can use [spaceship](https://spaceship.airforce) for that :+1:

[2015-07-12 08:42] #52 closed

[2015-07-12 08:44] KrauseFx commented on #51
Yes, you can use environment variables: https://github.com/fastlane/produce/blob/master/lib/produce/config.rb#L67-L77

[code]

[2015-07-13 11:23] ophirharpaz commented on #51
one more...
I would like to supply to Produce the username and password in advance (instead of filling them once the command begins). Is there a way to do so? (I have 2 usernames and would like to choose them each time I run produce).

Thank you.

[2015-07-13 14:32] KrauseFx commented on #51
Yes: `DELIVER_USER` and `DELIVER_PASSWORD` :+1:

[2015-07-13 15:08] ophirharpaz commented on #51
Great! then... what is the difference between using PRODUCE_USERNAME and DELIVER_USER?

and is there anyway you could help me in understanding what's going wrong here?
![screen shot 2015-07-13 at 6 16 40 pm](https://cloud.githubusercontent.com/assets/8912061/8653140/7b272920-298b-11e5-88f9-4da4cdfddaf8.png)

produce stops running the moment these lines appear.

[2015-07-14 22:22] KrauseFx commented on #51
It's the same thing :wink:

[2015-07-14 22:22] #51 closed

[2015-07-17 15:03] alistra opened #53 "Make an option to tick "Associated Domains" in dev.🍎.com"
I have about 400 apps in developer.apple.com and due to a recent lawsuit I have to enable "Associated Domains" on all of them.

It would be cool if produce supported providing options to generated identifiers, as some options require mobileprovision regeneration, so the best idea is to tick the options right away.

[2015-07-18 08:00] KrauseFx commented on #53
This will require an addition to `spaceship` to make this possible.

[2015-07-18 08:00] KrauseFx commented on #46
Does it work for you now? @pedro380085

[2015-07-18 12:17] pedro380085 commented on #46
Yes, thank you @KrauseFx !

[2015-07-18 12:17] #46 closed

[2015-07-18 12:20] KrauseFx commented on #46
Great to hear :+1:

[2015-07-20 10:39] robwithhair opened #54 "Company Name support"
Fastlane seems to fail if company name has not been set.  Maybe produce could have a company name set in the fast file and if this field is present then it gets filled in?

![screen shot 2015-07-20 at 11 36 37](https://cloud.githubusercontent.com/assets/6692245/8774210/9fdbb4c8-2ed3-11e5-8b99-3473db3981b7.png)

[code]

[2015-07-20 11:05] buscarini commented on #54
You just saved my life, because I was getting that error and I hadn't been able to find why this happened.

I think this shouldn't be done automatically, as it can't be changed later (which makes no sense, but anyway). But at least there should be a better error message that states that you should go to iTunes Connect and manually add the company name there.

[2015-07-20 11:20] KrauseFx commented on #54
@robwithhair when is a company name not set? How do I get this alert? Or is it only shown when the first app is being created on iTunes Connect?

[2015-07-20 11:29] robwithhair commented on #54
@KrauseFx I think this may be something which only occurs once for new developer accounts.  Yes, I believe it is only when creating the first app.

[2015-07-20 11:30] robwithhair commented on #54
@KrauseFx I don't know if there is another way to set or update this field.

[2015-07-20 13:03] robwithhair commented on #54
@KrauseFx I also noticed there seems to be another issue which may be related to new accounts.  Requiring the need to specify a primary language.

[code]

[2015-07-20 13:17] robwithhair opened #55 "You must choose a primary language"
I am getting this error in build script with produce
[code]
Despite my fastlane fast file looking like
[code]

[2015-07-20 13:31] buscarini commented on #54
@KrauseFx Yes, this happens with new accounts. When you manually add the first app there is an additional field at the top requesting the company name (and stating that it can't be changed later)

[2015-07-20 13:32] robwithhair commented on #55
@KrauseFx This is higher priority for us than the company name issue, which tends to be a one off.

[2015-07-20 13:39] KrauseFx commented on #54
@buscarini @robwithhair If you help me, I can implement this, as I don't have access to an empty Apple account.

Please open the page and right click `Inspect element` the `Company Name` and share this information with me:
<img width="904" alt="screenshot 2015-07-20 15 37 49" src="https://cloud.githubusercontent.com/assets/869950/8776977/51b32930-2ef5-11e5-9e8d-73c4d42e2a1e.png">

[2015-07-20 13:43] KrauseFx commented on #55
I have yet to figure out the list of available languages, but can you try `English_UK`?

[2015-07-20 13:43] KrauseFx commented on #55
It seems like `UK English` is the language shown to the user and `English_UK` being the actual value transferred to iTunes Connect.

[2015-07-20 13:44] robwithhair commented on #55
Odd, that one worked before.  Sure I'll give it a try when we get another build fail.

[2015-07-20 13:44] KrauseFx commented on #55
Up until now, `produce` used the web front-end. With `spaceship` I send the request directly to iTunes Connect.

[2015-07-20 13:45] robwithhair commented on #54
@appinstbrandon can you let me know when you get one of these again.  I'll let @KrauseFx know the details so we can get this fixed.

[2015-07-20 13:47] robwithhair commented on #54
@KrauseFx We'll try and capture the info you need next time anyway.  On this occasion we worked around the problem so we weren't able to get a grab of the selector.

[2015-07-20 13:48] robwithhair commented on #55
OK, we'll give it a go with English_UK.  I'll reopen if it continues to be a problem.

[2015-07-20 14:29] robwithhair commented on #55
Reopening as when set to `English_UK` we get the following error.

[code]

[2015-07-20 14:29] robwithhair commented on #55
This will require a new release of produce I suppose @KrauseFx?

[2015-07-20 14:31] robwithhair commented on #55
Ideally fastlane/produce should maybe accept the current language names but use the spaceship accepted ones?  So that both old and new work?

[2015-07-20 16:21] robwithhair commented on #55
@KrauseFx we're getting this failure every time now.  Going to have to roll back our update to the previous fastlane version.  Do you know if there will be a fix out soon?

[2015-07-20 19:26] KrauseFx commented on #55
I found the language mapping [here](https://itunesconnect.apple.com/WebObjects/iTunesConnect.woa/ra/ref/), I'll publish a new version today

[2015-07-20 19:46] KrauseFx commented on #55
I got this working now, just pushing a new version of `spaceship` and `produce` :+1:

[2015-07-20 20:03] gshackles opened #56 "CLI option collisions"
In v0.4.1 the options are listed as:

[code]

There are a couple problems here:

- `-a` is listed as the short name for both identifier and name
- It's not possible to use `-v` or `--version` to set the version, as `produce` will always display the version info and exit when that's present in the arguments

[2015-07-20 20:06] KrauseFx commented on #55
It's live: https://github.com/fastlane/produce/releases/tag/0.4.2 :+1:

[2015-07-20 20:06] #55 closed

[2015-07-20 20:07] KrauseFx commented on #55
@robwithhair Please let me know if that fixes your issue. You can now use both notations, either the old or the new one.

[2015-07-20 20:08] KrauseFx commented on #56
Thanks for reporting @gshackles, I'll get a fix ready for the next release. You can use the long form or environment variables in the mean-time :+1:

[2015-07-21 07:42] buscarini commented on #54
@KrauseFx Same here, sorry but I already added the company name manually. Not sure if I'll need to use a new account in a short time, but if I do I will check it. In any case for now I would suggest just adding an error message for the user to tell him to go to the web and add this parameter manually (maybe you could ask for help there so the first user that needs it can inspect the website and se

[2015-07-21 07:46] robwithhair commented on #55
Thanks @KrauseFx, I'll have a go and reopen if I see the issue again.  Thanks!

[2015-07-21 11:35] KrauseFx commented on #55
Thanks! :+1:

[2015-07-21 21:30] gfpacheco opened #57 "Please enter one of available languages"
I always used `Brazilian Portuguese` as the main language on `produce` action. Now I'm setting up a Jenkins server to publish the apps. When I run the same code as used to run on my machine it throws this error:

    Please enter one of available languages: ["Brazilian", ...

I thought "Ok, the language changed to `Brazilian`", I changed the language and the the error was the following:

    You m

[2015-07-21 21:42] KrauseFx commented on #57
Have you updated to the latest version? I should fixed this issue yesterday: https://github.com/fastlane/produce/issues/55

[2015-07-22 07:55] robwithhair commented on #55
I've not seen the issue since so probably ok now.  Thanks @KrauseFx!

[2015-07-22 08:35] KrauseFx commented on #55
Great to hear, thanks for reporting back @robwithhair :+1:

[2015-07-22 09:18] KrauseFx commented on #56
Forgot to update the issue, here we go: https://github.com/fastlane/produce/releases/tag/0.4.3

Also added unit tests for that for all tools :+1: Thanks again

[2015-07-22 09:18] #56 closed

[2015-07-22 11:15] buscarini opened #58 "How to use fastlane Appfile values?"
I don't understand why something like app_identifier is needed in fastlane, if this is already specified in the Appfile. How can I use the value from there to avoid having it in two places?

[2015-07-22 11:25] osrufung opened #59 "Getting Exception on Wildcard App Identifier"
I'm getting this exception when using *produce 0.4.3* with Environment variables

[code]

That's my shell script with *local* variables (maybe it works when new command arguments are used) :
[code]

[2015-07-22 11:35] gshackles commented on #56
Thanks! Also just want to note that `--version` is a collision as well, so it wasn't _just_ the short codes.

[2015-07-22 11:47] KrauseFx commented on #56
Thanks @gshackles, that was also added to the tests and should not happen again :+1:

[2015-07-22 11:51] KrauseFx commented on #59
Thanks for reporting, I pushed a fix with https://github.com/fastlane/fastlane_core/releases/tag/0.11.1

Please update using `sudo gem update fastlane_core` :+1:

[2015-07-22 11:53] KrauseFx commented on #58
`produce` should use the app identifier from the `Appfile`:

[code]

[2015-07-22 11:57] buscarini commented on #58
Ah sorry, that is not actually the problem. The problem is that I have the app name in Deliver as the title and I don't know how to use it in Fastfile. Would there be a way to put it in Appfile and having it used in Fastfile and Deliverfile?

[2015-07-22 11:58] druizfr commented on #59
Hero

[2015-07-22 12:00] osrufung commented on #59
🍺

[2015-07-22 12:00] #59 closed

[2015-07-23 17:04] KrauseFx commented on #58
Sorry, I don't know. What do you mean with `title`? The `Appfile` only supports the App Identifier, Apple ID and team information.

[2015-07-23 18:41] #57 closed

[2015-07-23 23:34] pedro380085 opened #61 "Support for Brazilian Portuguese"
Hi @KrauseFx ,

I believe something happened on the last commits. I used to have ENV["PRODUCE_LANGUAGE"] = "Brazilian Portuguese", but now produce refuses it, saying that I must choose between "Please enter one of available languages: ["Brazilian", "Danish", "Dutch", "English", "English_Australian", "English_CA", "English_UK", "Finnish", "French", "French_CA", "German", "Greek", "Indonesian", "Ita

[2015-07-28 03:13] pedro380085 commented on #61
Any news on that @KrauseFx ?

[2015-07-28 23:23] ulizama opened #62 "Sending app version"
The docs say we can send the app version as `--version`, problem is that it conflicts with the actual version param of the produce.

Is there a way to send the app version so we don't have to enter it manually?

[2015-07-29 00:02] ulizama opened #63 "SKU number already has been used"
Today I'm unable to create new apps on iTunes Connect. I get the following error all the time:

[code]
I have tried several times with different random SKUS that I know don't exist, because they are from my App ID + a random number.

[2015-07-29 07:19] KrauseFx commented on #61
This should be fixed with https://github.com/fastlane/produce/releases/tag/0.5.0 :+1:

[2015-07-29 07:19] #61 closed

[2015-07-29 07:19] KrauseFx commented on #62
Thanks for letting me know, this is fixed with https://github.com/fastlane/produce/releases/tag/0.5.0

[2015-07-29 07:19] #62 closed

[2015-07-29 13:22] pedro380085 commented on #57
Thanks @gfpacheco and @KrauseFx !

[2015-07-29 14:29] ulizama commented on #63
iTunes Connect has been failing since yesterday. So it might be related to that. I'll close the ticket until I can verify that is not an issue on iTunes side.

[2015-07-29 17:55] KrauseFx commented on #63
Good point, yes, iTunes Connect has been down for quite some time now.

[2015-07-30 10:29] robwithhair commented on #54
OK, we've had a few of these.  Please find attached a screenshot which I hope will have everything you need.

![screen_shot_2015-07-30_at_11 22 27](https://cloud.githubusercontent.com/assets/6692245/8981194/3ac324e4-36ae-11e5-82d5-9a67afdfd18b.png)

[2015-07-30 10:45] KrauseFx commented on #54
@robwithhair Thank you! The latest version `spaceship` already support the company name. I haven't yet updated `produce`.

Could you try the following:

[code]

[code]

And replace the values with the actual values. This will create the application already and should fill out the company name as well. This feature was added by @lacostej with https://github.com/fastlane/spaceship/pull/70 :+1:

[2015-07-30 10:56] robwithhair commented on #54
Hi @KrauseFx,

Where do I put this spaceship code?  In my Fastfile?  What will happen if the app already exists or the company name is already set?

[2015-07-30 13:32] robwithhair commented on #54
Unfortunately the support team already created this app manually.  Can you advise as to the above and we'll test it next time?

[2015-07-30 14:18] ulizama commented on #63
I can confirm this issue. If I give the SKU through CLI using `--sku` it fails telling that the SKU already exists.

If I don't provide an SKU then it's able to create the app.

[2015-07-31 02:35] hannahcurd opened #64 "SKU only allowing numbers"
Hello,

I recently updated to the latest version of Produce and I have tried to set the SKU using PRODUCE_SKU="AppSKU" and -s, but in iTunes Connect my SKU has been set as a number and not the text I had set it to.

The older version I was using allowed me to have a string SKU. Is there a reason the SKU has to be a number?

Thanks!

[2015-07-31 07:59] KrauseFx commented on #64
Sorry about that, I'll fix it :+1:

[2015-07-31 08:10] KrauseFx commented on #64
<img width="89" alt="screenshot 2015-07-31 10 10 12" src="https://cloud.githubusercontent.com/assets/869950/9003216/5d42b444-376c-11e5-8218-1e86e8fdfbb2.png">

I just tried, it's working fine. Are you using the latest version?

[2015-07-31 08:15] KrauseFx commented on #63
I just tried it for the issue https://github.com/fastlane/produce/issues/64 and it's working fine :+1: Can you try again?

[2015-07-31 08:45] KrauseFx commented on #54
I pushed a new version of `produce`, so you can now pass the value directly :+1:

[2015-07-31 08:52] robwithhair commented on #54
Awesome, thanks!  I'll try that out when we get a dev account without a name.

[2015-07-31 22:25] hannahcurd commented on #64
Hi, thanks for your response.

I'm using the latest version, but still having the same issue when running the code in command line.

When I use the code below I get "The SKU number you entered has already been used." error, no matter what I set the SKU to:
produce -s "$SKU"  -u "$APPLEID" -a "$APPID" -q "$APPNAME" -z "$VERSION" -m 'English'

When I set PRODUCE_SKU="$SKU", instead of using the s pa

[2015-08-01 06:43] KrauseFx commented on #64
What value did you set for `PRODUCE_SKU` and what's the resulting number used in iTunes Connect?

[2015-08-03 17:01] jonsajdak opened #65 "ITC username different than Apple Username. Can't specify both."
I've got one apple username (my developer account), and many ITC usernames (one for each organization I've made an app for).  ITC does not allow using the same email for multiple organizations, hence this situation.

Problem:  When I create an app with Produce I'm only able to specify one email/password, which has to be the developer account email.  It creates the appId on the developer account co

[2015-08-03 22:51] KrauseFx commented on #65
For each for the `fastlane` actions you can always pass a username:

[code]

This works for all actions as far as I know. Let me know if that works for you :+1:

[2015-08-04 12:10] henrinormak opened #66 "Allow defining/modifying Application Services when creating app"
This will likely require a change to `spaceship`.

Currently, the app that is created uses the default settings, however, in most cases, at least one of the services needs to be turned on (for example HealthKit or HomeKit or Apple Pay), currently this can not be done through `produce`/`spaceship`.

Is this plausible or is this highly unlikely to ever make its way into the Fastlane toolchain?

[2015-08-04 12:14] KrauseFx commented on #66
Currently there are no plans to implement this. As you mentioned, this would require an upgrade of `spaceship` and then an integration into one of the tools.

[2015-08-04 12:17] henrinormak commented on #66
Is this based on some unknown (for me) difficulty in implementing it, or is it plausible to add this support to `spaceship`? I am not familiar with the underlying code in `spaceship`, but if this is possible I am willing to investigate, I would just need a starting point.

[2015-08-04 15:17] jonsajdak commented on #65
A single username is not enough for produce.  This is because it logs into apple dev AND itunes connect and they use different username systems.   So if I'm a member of 3 team organizations, I have to have 3 ITC usernames.  I always only have the 1 apple dev account however.

This is what is needed to be able to do to create an app on different ITC teams, with some params excluded:

produce --user

[2015-08-04 23:49] KrauseFx commented on #65
@jonsajdak Oh, sorry about this, good point, I haven't thought of it! Also, I assume it doesn't work when you have the same email address on both platforms but with different passwords, right?

Right now, you could workaround by calling `produce` with the different Apple IDs and pass the `skip_itc` parameter to only create the app on one of the 2 platforms.

[2015-08-05 00:05] jonsajdak commented on #65
Actually the first time I used it, it did work on both accounts because one of my ITC accounts has the exact same emails/passwords as my apple developer accounts.  But it couldn't access my other ITC accounts beyond that.

[2015-08-05 00:07] jonsajdak commented on #65
I will try the skipdev option because I think it tries that first and fails for other ITC users. Good idea!

[2015-08-05 10:13] KrauseFx commented on #66
Basically `spaceship` consists of 2 layers: the Ruby representation of the resource and the client that communicates with Apple.
- [app.rb](https://github.com/fastlane/spaceship/blob/master/lib/spaceship/portal/app.rb): The Ruby representation
- [portal_client.rb](https://github.com/fastlane/spaceship/blob/master/lib/spaceship/portal/portal_client.rb): The communication layer with Apple

It's prob

[2015-08-05 11:00] henrinormak commented on #66
Thanks, I managed to get `spaceship` to toggle the different services relatively easily, granted, I have to tackle the aspect of allowing some of the more advanced services to be configured (like app groups, which is likely the single most difficult one, along with push notifications).

[2015-08-05 15:07] jonsajdak commented on #65
These commands together worked for me to accomplish the goal, combined in a bash script with the variables set previous.

[code]

[code]

[2015-08-05 15:10] KrauseFx commented on #65
@jonsajdak great, thanks for sharing. Sorry again for the troubles, I'll work on a cleaner way to solve this over the next weeks/months :+1:

[2015-08-06 08:58] henrinormak commented on #66
I think I managed to get it working in spaceship, there is probably a much nicer way to architect it, but it seemed like a nice way to go (especially, as most of the services are simple true/false values). I would also love to make this functionality accessible via one of the command line tools, however, it seems like produce is not the most appropriate one. Thoughts?

[2015-08-06 09:58] KrauseFx commented on #66
@henrinormak Thanks for contributing :+1:

For example: Enabling push notifications is part of `PEM`. I guess you're right, the user should be able to enable those features with `produce`.

`produce` would then also enable those features even if the app was already created. I like the idea.

[2015-08-09 23:57] hannahcurd commented on #64
I set the SKU parameter to 'LeahSaragoFitness' and the SKU number in iTunes Connect was set to 1438299647

[2015-08-10 08:44] KrauseFx commented on #64
@hannahcurd Could you share how you set the SKU parameter? `1438299647` is the timestamp that is used by default when you don't pass your own SKU number.

[2015-08-10 08:45] KrauseFx commented on #64
Could you try passing it via an environmental variable just to be sure?

[2015-08-14 02:56] gianghd opened #70 "Error on produce step"
Here is my logs.
Maybe ithis problem is "Unauthorized access" but I don't know how to fix it.

[code]

[2015-08-14 08:11] Srthk commented on #70
It was working till yesterday. Getting the same error from today-

[code]

[2015-08-14 08:43] SPAHI4 commented on #70
same error too

[2015-08-14 09:05] robwithhair commented on #70
@KrauseFx same error here too

[2015-08-14 09:06] robwithhair commented on #70
[code]

Currently pulling new version of fastlane

[2015-08-14 09:11] robwithhair commented on #70
Updated fastlane, still seeing bug

[2015-08-14 09:11] robwithhair commented on #70
Attempting to manually create app in itunes connect

[2015-08-14 09:15] KrauseFx commented on #70
Working on it right now :+1:

[2015-08-14 09:18] robwithhair commented on #70
Awesome thanks Felix.  Can confirm that it still fails if I manually create app in iTC.

[2015-08-14 09:20] robwithhair commented on #70
if it's any help...

[code]

[2015-08-14 09:23] KrauseFx commented on #70
I can reproduce the error, thanks

[2015-08-14 09:25] gianghd commented on #70
Should I update gem ?

[2015-08-14 09:36] KrauseFx commented on #70
Found the issue, will push it in a few minutes

[2015-08-14 09:37] KrauseFx commented on #70
No, it's not yet live

[2015-08-14 09:48] KrauseFx commented on #70
Please update using `sudo gem update spaceship` and let me know if that works for you.

[2015-08-14 09:50] robwithhair commented on #70
All hail @KrauseFx!  Thanks Felix.  We are past produce and on to the rest of the script.

[2015-08-14 09:51] KrauseFx commented on #70
@robwithhair so it's working for you?

[2015-08-14 09:52] robwithhair commented on #70
Script still running but yes, so far

[2015-08-14 10:01] robwithhair commented on #70
Script succeeded. All good @KrauseFx.

[2015-08-14 10:03] robwithhair commented on #70
@KrauseFx however, just tested with an app which didn't already exist it iTC and it failed!  Same place.

[2015-08-14 10:05] robwithhair commented on #70
@KrauseFx worked fine on third try?  How odd.

[2015-08-14 10:07] Srthk commented on #70
I am still receiving the same error on `produce` after updating spaceship. Have you pushed a gem update for fastlane too?

[2015-08-14 10:08] robwithhair commented on #70
@Srthk yes I believe one of my servers wasn't up to date.  Seems to be working now for me but had to update fastlane too.

[2015-08-14 10:23] KrauseFx commented on #70
@Srthk are you using `bundler`? If so, you'll have to run `bundle update`

[2015-08-14 10:26] Srthk commented on #70
Error solved. `produce` worked on updating `sudo gem update fastlane`

[2015-08-14 10:26] gianghd commented on #70
Thank @KrauseFx . With my app, run OK. No problem after update spaceship.

[2015-08-14 10:27] KrauseFx commented on #70
Thanks everybody :+1:

[2015-08-14 11:38] SPAHI4 commented on #70
still have this error after update

[2015-08-14 11:47] Srthk commented on #70
@SPAHI4 Try updating spaceship as well using `sudo gem update spaceship`

[2015-08-14 11:48] SPAHI4 commented on #70
@Srthk I've tried

[2015-08-14 11:54] SPAHI4 commented on #70
Now all ok, dont know whats happend

[2015-08-14 14:23] robwithhair commented on #70
@KrauseFx I just had a build fail with this same issue when the version number was too low.  Don't know if it was related but seems to be failing like this every so often perhaps.

[2015-08-14 14:35] robwithhair commented on #70
@KrauseFx we rebuilt with exact same parameters and it succeeded this time.  Must be an intermittent issue at iTC's end maybe.

[2015-08-17 09:38] robwithhair commented on #70
@KrauseFx we are seeing this bug again this morning.  Builds failing with the same error message.

[2015-08-17 09:53] shoshRose commented on #70
me too

[2015-08-17 10:05] robwithhair commented on #70
@KrauseFx The build seemed to work on 3rd attempt.  Possibly down to time required for bundle ID to propagate to iTC?  Possibly an issue at apple's end? Seems really odd.

[2015-08-17 11:24] robwithhair commented on #70
@KrauseFx consistently failing again.  Could you re-open this issue?

[2015-08-17 12:33] Srthk commented on #70
Yes same issue is occurring again.

[2015-08-18 05:26] Srthk commented on #70
@KrauseFx When will this be resolved?

[2015-08-18 14:20] KrauseFx commented on #70
I have to say, the login is working perfectly fine for me. I assume you checked the user credentials are correct?

I'll work on a new version of `spaceship` that shows more debug information if the login isn't working, like the used username, the exact response and more.

[2015-08-18 14:50] robwithhair commented on #70
We've had this issue sporadically while building.  It seemed like manually creating the version on iTC made the build work again.

[2015-08-18 14:51] robwithhair commented on #70
Of course could be nothing to do with that and could be intermittent but I have found twice now manually creating the app on iTC made the build script run.

[2015-08-18 14:52] robwithhair commented on #70
@KrauseFx one's we built were re-builds through jenkins so same user/pass each time.

[2015-08-18 14:54] robwithhair commented on #70
At one point I thought it might be to do with the time it takes for the bundle ID to propagate from dev centre to iTC but other failures don't fit that.

[2015-08-18 15:07] gfpacheco commented on #70
Just saying, I'm having this issue sporadically as well

[2015-08-18 17:33] Srthk commented on #70
@KrauseFx The username and login credentials are absolutely correct because its working with the same details but producing the above mentioned error intermittently. How was this issue resolved earlier, please try to fix it in the same manner.

[2015-08-18 20:21] KrauseFx commented on #70
I just pushed a new release https://github.com/fastlane/spaceship/releases/tag/0.5.2, please update using `sudo gem update spaceship`, special thanks to @sunboshan for helping me resolve this issue via https://github.com/fastlane/spaceship/issues/93

Please let me know if that works for you :+1:

[2015-08-19 05:40] UnGun commented on #70
I successfully created a new app onto Itunes about 3 hours ago.  But when I tried again just now it failed with this error message:

{:DEFAULT_PLATFORM=>:ios, :ENVIRONMENT=>nil, :PLATFORM_NAME=>:ios, :LANE_NAME=>"ios appCreate", :SNAPSHOT_SCREENSHOTS_PATH=>"/Users/shie1985/meepshop/mobileApp/code/platforms/ios/fastlane/screenshots", :CERT_FILE_PATH=>"./U22R4QWNDD.cer", :CERT_CERTIFICATE_ID=>"U22R4

[2015-08-19 07:06] Srthk commented on #70
`produce` is working fine for now. Hope this error doesn't crop up again :smile:

[2015-08-19 08:32] KrauseFx commented on #70
@UnGun this is a different error that doesn't have anything to do with the login issue. Could you submit a separate issue?

[2015-08-19 08:32] KrauseFx commented on #70
@Srthk Great to hear :rocket:

[2015-08-19 09:02] UnGun opened #71 "App ID Name and App Name correlate to different values in ITunes, which does not support different character encodings."
Hello,
When I was trying to produce an app on Itunes I encountered this error message that no value was provided for the parameter appIdName.  I believe this problem occurred because the app_name was trying to be used as the appIdName which has restrictions in the ITunes store.  Upon further testing, we found that other character sets can be used for the app name, but not the app id name.  Since t

[2015-08-19 11:41] KrauseFx commented on #71
Yes, I'm pretty sure the name is causing the issue. Is it a valid name? Have you tried using it on the Apple Developer Portal?

[2015-08-20 02:07] StanHsieh commented on #71
It's not a valid name on the Apple Develover Portal.
But it's a valid name on the Apple Itunesconnect Portal.
I want to use the name as my app name,but not my app id name.

I think I thought of a way to solve my problem.

Fastfile file:
produce(
username: 'itunesAccountName',
app_identifier: 'com.carrieme.store',
app_name: 'carrieme',
language: 'Traditional Chinese',
app_version: '1.6',
sku: 14399

[2015-08-20 10:05] KrauseFx commented on #71
Great to hear :+1:

[2015-08-20 10:05] #71 closed

[2015-08-25 04:34] NikhilRyan opened #72 "Getting SSL_CONNECT SYSCALL error with "Produce""
Yesterday I updated fastlane and since then i'm getting this error.
![screen shot 2015-08-25 at 10 03 32 am](https://cloud.githubusercontent.com/assets/13447764/9458786/9d418e00-4b10-11e5-80e2-a38d16d2b128.png)

[2015-08-25 07:08] KrauseFx commented on #72
This shouldn't have anything to do with the updated version of `fastlane`, but an SSL issue: https://stackoverflow.com/questions/25814210/opensslsslsslerror-ssl-connect-syscall-returned-5-errno-0-state-sslv3-read

Maybe even related to https://github.com/fastlane/spaceship/issues/54#issuecomment-134377306

cc @lacostej

[2015-08-25 07:54] robwithhair commented on #72
Yes, exactly the same as what we've been seeing at our end.  See issue Felix referenced.

[2015-08-27 11:07] meyskens opened #73 "Invalid username and password combination"
Since yesterday produce stopped working saying I use an invalid username/password combination while it hasn't changed.

[2015-08-27 13:08] robwithhair commented on #73
@KrauseFx we are seeing this error too.

[2015-08-27 13:21] shoshRose commented on #73
getting it in deliver

[2015-08-27 16:11] yannisroy commented on #73
Same issue happening to me, it works fine for the developerPortal, fails for iTunesConnect. It worked fine before. I am using `DELIVER_USER`, `DELIVER_PASSWORD` and `FASTLANE_TEAM_ID` for credentials.

Fastfile:

[code]

My ouput for that command: `fastlane createapp --trace`

[code]

[2015-08-27 20:48] gfpacheco commented on #73
Same here

[2015-08-27 21:12] drupalmodule commented on #73
same here

[2015-08-28 19:24] pedro380085 commented on #73
+1

[2015-08-30 21:26] drupalmodule commented on #73
@KrauseFx  this is the same problem we were having with deliver that you fixed a couple of days ago.  Is the fix similar for produce?

[2015-08-31 08:09] ghost commented on #73
Ditto.

[2015-09-01 16:51] gfpacheco commented on #73
It just started working again for me!

[2015-09-03 21:48] drupalmodule commented on #73
it is now working for me again!

[2015-09-04 01:08] KrauseFx commented on #73
Okay great, I'll close this issue for now, feel free to re-open or re-submit if you run into it again.

[2015-09-04 10:35] meyskens commented on #73
I still have the same issue:

[code]

[2015-09-04 11:25] pedro380085 commented on #73
Same error for me.
On sex, 4 de set de 2015 at 7:35 AM Maarten Eyskens <
notifications@github.com> wrote:

[2015-09-04 20:54] meyskens opened #74 "re-open #73"
Could you re-open issue #73 I seem not able to do this.

[2015-09-04 21:37] KrauseFx commented on #74
Done :+1:

[2015-09-04 21:37] #74 closed

[2015-09-05 14:03] meyskens commented on #73
@KrauseFx I have played with Spaceship and there I get the exact same error with both accounts I use. Shall I open an issue there?

[2015-09-05 14:16] meyskens commented on #73
I digged a bit through the code (I have no knowledge of Ruby so don't expect a miracle). I found that the login url gets cached in "/tmp/spaceship_itc_login_url.txt" so I deleted that file and it works. @KrauseFx maybe add a check if the url is still valid. Our build server never gets shut down so the file will stay there.

[2015-09-05 23:52] KrauseFx commented on #73
Ah, thank you so much for this information @meyskens. I'm actually working on this, to only cache the login URL when the login actually succeeded. Will keep you posted.

[2015-09-08 18:23] KrauseFx commented on #73
I just pushed a new version of `spaceship`, could you update using `sudo gem update spaceship`?

This should resolve the wrongly cached API keys

[2015-09-09 11:34] mashour opened #75 "produce associate_group returns a 400 error"
When trying to associate an app with an app group using the following command:

produce associate_group -u username@mac.com -a com.team.app group.com.team.app

I get the following error:

[code]
![image](https://cloud.githubusercontent.com/assets/3940780/9760609/d1b75e66-56f6-11e5-8c53-597484df770c.png)

[2015-09-11 10:33] yannisroy commented on #63
I have the same issue with one of my accounts (50+ apps), the other accounts (with less) work fine.

Creating the app in iTunesconnect manually with the SKU worked fine.

[2015-09-12 13:49] meyskens commented on #73
Seems to work. Thanks! :+1:

[2015-09-12 13:49] #73 closed

[2015-09-12 14:21] pedro380085 commented on #73
It also works for me!

[2015-09-15 10:29] frranck opened #76 "can't create app"
[code]

[2015-09-18 09:05] frranck commented on #76
sorry: agreement issue on my side

[2015-09-18 09:05] #76 closed

[2015-09-28 17:44] kevinstueber opened #77 "'app_identifier' value must be a String! Found TrueClass instead."
Hello, I'm attempting to create multiple new apps using a shell script to loop through a CSV file. Unfortunately, I'm getting the error "app_identifier' value must be a String! Found TrueClass instead." when I run my script. Here's my code and the full error is below.

Any help is appreciated!
Kevin

[code]

[code]

[2015-09-28 17:50] KrauseFx commented on #77
Thanks for letting me know, I'll push a fix soon. In the mean time either use [fastlane](https://github.com/krausefx/fastlane) or use the `PRODUCE_APP_IDENTIFIER` environment variable instead:

[code]

[2015-09-28 17:51] KrauseFx commented on #77
The new version is live, please update :+1: https://github.com/fastlane/produce/releases/tag/0.6.3

[2015-09-28 17:51] #77 closed

[2015-09-28 17:52] kevinstueber commented on #77
Awesome! Thanks @KrauseFx!

[2015-09-30 13:18] ericertl opened #78 "appfile_config.rb warning"
Hi @KrauseFx . After updating the gems for the last deliver update, I got the following warning in produce:

[code]
Everything seems to be working though

[2015-09-30 14:49] gfpacheco opened #79 "conflicting chdir during another chdir block"
I'm getting this weird error on produce, looks like a concurrency error, but I'm not sure:

[code]

[2015-09-30 15:12] gfpacheco commented on #79
Damn it, I removed produce from my lane and now the same error happens on my next step (cert), then the next one...

[2015-09-30 15:43] gfpacheco commented on #79
It seems to be an itermitent problem, the last time it showed the warnings:

[code]

By passed anyway, also passed the cert and sigh steps, but broke on pem.

[2015-09-30 16:34] KrauseFx commented on #79
Thanks, moving everything to https://github.com/fastlane/fastlane_core/issues/34

[2015-09-30 16:34] #79 closed

[2015-09-30 16:34] KrauseFx commented on #78
Thanks, moving everything to https://github.com/fastlane/fastlane_core/issues/34

[2015-09-30 16:34] #78 closed

[2015-09-30 16:41] KrauseFx commented on #78
In your case it seems to be a warning, not an error.

[2015-10-03 07:10] weichengchu commented on #63
I tried to create an App on the iTune connect with --sku set to "com.weibyapps-client-01". The app was created successfully but the sku was set to "true" (see screenshot).
![screen shot 2015-10-03 at 3 05 09 pm](https://cloud.githubusercontent.com/assets/1361562/10261859/31b2e0e6-69e0-11e5-93f2-e5f69bb16b54.png)

After this app was created, I then tried to create other Apps using various sku names

[2015-10-04 01:31] KrauseFx commented on #63
@weichengchu Could you share the exact command you used to call `produce`?

[2015-10-04 03:10] weichengchu commented on #63
Here is the exact command I used:

`produce create -u weicheng.chu@gmail.com -a com.weibyapps.weicheng.test-99 -q 'weichengchu-test-99' --sku 'weichengchu-test-99' -z '1.0' -m 'Traditional Chinese' -d`

Here is the response:

`/Library/Ruby/Gems/2.0.0/gems/spaceship-0.11.1/lib/spaceship/tunes/tunes_client.rb:147:in 'handle_itc_response': The SKU number you entered has already been used. The SKU nu

[2015-10-04 14:27] KrauseFx commented on #63
Thank you so much, that helped, I'll push a fix in a minute :+1:

[2015-10-04 14:35] KrauseFx commented on #63
https://github.com/fastlane/produce/releases/tag/0.6.4 :rocket:

[2015-10-04 14:35] #63 closed

[2015-10-04 15:01] weichengchu commented on #63
@KrauseFx I've updated Produce to 0.6.4, but still seeing the same error. Do I need to update another other libraries?

[2015-10-05 02:42] KrauseFx commented on #63
Sorry about that, I now pushed https://github.com/fastlane/produce/releases/tag/0.6.5, which should fix the issue :+1:

[2015-10-09 14:41] iPavel92 opened #80 "No value was provided for the parameter &#x27;appIdName&#x27;."
Looks like produce can't fetch the app name.
I've tried to run produce via command line:
[code]

Also I've tried produce with fastlane:
[code]

The results are the same:
[code]

Produce version is 0.6.5

[2015-10-09 14:44] iPavel92 commented on #80
Also tried to not specify an app name via arguments. Produce asked me to input the app name manually via CLI. The same result.

[2015-10-09 14:51] iPavel92 commented on #80
English app_name (like "test') works btw.

[2015-10-09 15:01] iPavel92 commented on #80
My fault, misunderstand and thought this name is connected with the app name in iTC (whitch is filling by deliver)
Sorry ^_^

[2015-10-09 15:01] #80 closed

[2015-10-15 21:49] KrauseFx commented on #58
Any updates on this?

[2015-10-16 16:37] realf opened #81 "Use produce to enable push notifications"
Maybe this is a stupid question but anyway...
I'd like to add to Fastfile action that enables push notifications. In CLI I would run `produce enable_services -a com.example.app --push-notification`. How do I do that in a Fastfile?
Thanks.

[2015-10-17 18:27] KrauseFx commented on #81
For push notifications use [pem](https://github.com/KrauseFx/PEM)

[2015-10-17 19:48] realf commented on #81
@KrauseFx maybe I've used a bad example. Yes, I use pem for creating push certificates, but what about enabling other services, for example if I need to enable Healthkit, I can run `produce enable_services --healthkit` in a command line? How do I do that in Fastfile? Just `sh produce enable_services --healthkit` or is there another way to run that command using Ruby syntax? Sorry, I don't write mu

[2015-10-17 19:52] KrauseFx commented on #81
Yes, it only works with `sh` for now:

[code]

[2015-10-17 19:53] realf commented on #81
Great, thank you very much for explanation. Let's close this issue.

[2015-10-17 19:54] #81 closed

[2015-10-17 20:19] KrauseFx commented on #81
:+1:

[2015-10-21 13:46] mortenholmgaard commented on #65
I have the same issue :+1:

[2015-10-22 19:41] nmeyer opened #82 "authentication.failed: Your session has expired. Please log in."
Hiya!

I'm getting the following error when trying to use produce:

[code]

I can login via spaceship just fine (uses keychain, doesn't ask for my password). But using the same Username with produce results in the session expired error.

Any ideas? Thanks!

[2015-10-22 19:45] truth3 commented on #82
@nmeyer It is happening on all developer portal related requests, but as long as you have the assets local you can still build and upload. Hope that helps

https://github.com/KrauseFx/sigh/issues/188

[2015-10-22 19:46] nmeyer commented on #82
ahhh thanks @truth3. Oh Apple. Fun week for all of us...

[2015-10-25 13:06] shahbazali commented on #81
Hello, I'm sorry i disturbed you again but its not working for me, as i am using
produce enable_services --icloud cloudkit
that works fine, but the issue is iCloud Container is not creating through this command, it give message 1 Service Enabled Successfully, but when i go to Developer Portal iCloud always says Configurable because Container is not created.

thanks in advance.

[2015-10-26 05:34] shahbazali opened #83 "iCloud with CloudKit - Service Enables but Container not Creating"
Hello, I'm sorry to disturbed you again but its not working for me (Command Works but not creating iCloud Container), as i am using

produce enable_services --icloud cloudkit

that works fine, but the issue is iCloud Container is not creating through this command, it give message 1 Service Enabled Successfully, but when i go to Developer Portal iCloud always says Configurable because Container is

[2015-10-26 17:17] KrauseFx commented on #65
@mortenholmgaard Specifying the Apple Developer Portal user in your `Appfile` and passing the iTunes Connect user either in the `Deliverfile` or on the action itself should work, right?

[2015-10-26 17:55] mortenholmgaard commented on #65
Yes I have got it to work..

[2015-10-26 17:57] #65 closed

[2015-10-27 22:10] bencollier commented on #83
We're having this problem too - current workaround is to manually login to the dev centre then do the iCloud Container Assignment yourself and re-run produce. Not ideal though.

It'd be great to see produce have the ability to hit that [Edit] button on the iCloud setting to add a new container on the App ID Settings screen.

![Dev Center Image](https://www.dropbox.com/s/94ekf97thj8uy6o/Screenshot%

[2015-10-30 20:05] indyfromoz commented on #54
I installed `produce` 1.0.0, version check -

[code]

Next, I tried to create an app with an empty developer account. All went well till `produce` tried to create an app in iTC -

[code]

I logged in to the iTC portal using Safari, created the app. I tired `produce` with a new app and this time it worked like a charm!

@KrauseFx - Thanks so much for this great set of tools! You make iOS Developmen

[2015-11-02 22:08] shahbazali commented on #83
Any Luck ? ? ?

[2015-11-04 13:45] ido-ran opened #85 "Create AppID without Application in iTunes Connect"
I want to only create an AppID without also creating an iTunes Connect application.

How can I do that as part of a script? (without Control+C to kill the script).

[2015-11-04 13:46] truth3 commented on #85
@ido-ran You can use the following flag to skip ITC when using produce

`skip_itc: true`

[2015-11-04 13:48] ido-ran commented on #85
Thanks!

[2015-11-04 13:48] #85 closed

[2015-11-04 20:03] ebmifa opened #86 "[produce] Need to be able to provide --bundle_identifier_suffix STRING App Identifier Suffix"
This is probably more of a feature request then a bug.
I need to be able to specific "App Identifier Suffix" -e, when creating a new app id on the command line. We have multiple once defined and need to be able to specify which one we use for each one. Right now it seems to default to 1st in the list, because App Identifier does not ends with .*

[2015-11-08 12:57] shahbazali commented on #83
Hello, PLEASE Help Me. i want to create iCloud Container

[2015-11-09 13:15] skywinder opened #87 "Crash, "Creation of apps of this type is not available""
[code]

---

Update!

Try to create app manually and got warning, that I have to sign some legal issues. But it's better to warn users about that, not just throw error.

![screen shot 2015-11-09 at 15 27 43](https://cloud.githubusercontent.com/assets/3356474/11034736/8598088e-86f6-11e5-8a75-d7857d748115.png)

[2015-11-12 11:17] glancashire commented on #75
I get the exact same error

[2015-11-12 18:30] gfpacheco opened #88 ""\xE2" from ASCII-8BIT to UTF-8"
My app has a non ascii character in `app_name` parameter sent to produce.

I get this log:

    [16:16:24]: ---------------------
    [16:16:24]: --- Step: produce ---
    [16:16:24]: ---------------------
    [16:16:31]: [DevCenter] App 'XXX' already exists, nothing to do on the Dev Center
    [16:16:32]: Variable Dump:
    [16:16:32]: {:DEFAULT_PLATFORM=>:ios, :PLATFORM_NAME=>:ios, :LANE_NAME=>"

[2015-11-16 00:01] feralbob opened #90 "Bundle IDs with underscores created in Dev Centre which are invalid in iTunesConnect"
I'm trying to create a new app with just `produce create app_name`
[code]

[2015-11-16 00:23] feralbob commented on #90
Using

`whitestar:Projects bob$ produce --version
produce 1.0.0
whitestar:Projects bob$`

[2015-11-16 10:09] KrauseFx commented on #90
`produce --version` will print out the version number.

Also, the error message mentions the name is invalid:

[code]

[2015-11-16 12:28] feralbob commented on #90
Ok thanks @KrauseFx - a couple of things

1) I'm a silly boy for not reading the error message correctly. I saw that I'd added the version number and then it failed... I didn't read the error message properly.  My apologies.

2) It had correctly created the bundle ID in the Dev Centre

[code]

So yeah it looks like creating bundle IDs with _ in them is supported in the DevCentre - not iTC

[2015-11-16 14:35] sandman4sure commented on #88
I have the same problem

[2015-11-16 15:17] gfpacheco commented on #88
The problem may had something to do with the iTunes Connect UI changes, because it started working the day after the problem (with gem update).

[2015-11-16 15:35] sandman4sure commented on #88
Looks like a login problem on iTC
Deliver has the same problem

[2015-11-17 09:00] sandman4sure commented on #88
Updating spaceship fixed the issue for me

[2015-11-18 08:00] rikhm opened #91 "Could not fetch login URL from itunes Connect"
Able to use produce command to successfully make an id on developer.apple.com for an application but itunes connect shows an error.
Following is from terminal-

[code]

[2015-11-18 08:01] rikhm opened #92 "Could not fetch login URL from itunes Connect"
Able to use produce command to successfully make an id on developer.apple.com for an application but itunes connect shows an error.
Following is from terminal-

[13:22:16]: Creating new app 'App_name' on the Apple Dev Center
[13:22:18]: Created app 4YU99R9FGH
[13:22:20]: Finished creating new app 'App_name' on the Dev Center
undefined method `[]' for nil:NilClass
/Library/Ruby/Gems/2.0.0/gems/spac

[2015-11-18 08:02] #92 closed

[2015-11-18 15:34] CBeloch commented on #91
I have exactly the same issue

[2015-11-19 17:37] KrauseFx commented on #91
Please update spaceship using `sudo gem update spaceship`

[2015-11-20 01:28] feralbob commented on #90
Ok upon a quick bit of investigation it seems that produce is allowing apps to be created in the Dev Centre with underscores - which aren't valid.  The web UI doesn't allow it.

![screen shot 2015-11-19 at 9 25 15 pm](https://cloud.githubusercontent.com/assets/8114/11289516/164b58bc-8f04-11e5-824b-6c4be893ac59.png)

But

[code]

[2015-11-20 05:27] mrikh commented on #91
Thanks for your reply! That fixed the problem.

[2015-11-20 05:27] #91 closed

[2015-11-24 19:08] patoroco commented on #64
Only to follow up (and maybe close this issue)...

I just create a new app using `Fastfile` file with produce action and `sku: 'CODE20155'` and it worked correctly.

I'm using fastlane 1.41 and produce 1.0.0.

[2015-11-24 19:11] patoroco opened #94 "Allow to delete an app"
Hi,

I was playing with produce to prepare a talk about fastlane tools, and I finished with several test-apps on my iTunes Connect dashboard :(

I was reading about how to delete apps, and apple doesn't allow to delete brand new apps  (without any published version), so maybe should be good to add this STUPID 'detail' to produce documentation. Link: https://developer.apple.com/library/ios/document

[2015-11-30 12:18] gfpacheco opened #95 "No value found for 'bundle_identifier_suffix'"
I'm getting this error even if my `app_identifier` has no `*`.
I workarounded setting `bundle_identifier_suffix: ''`, but this is weird.

[2015-11-30 13:11] pedropalmero commented on #95
Yep, the same happens to me. Something has changed :-)

[2015-11-30 23:16] pieisgood commented on #95
having the same issue here

[2015-12-02 02:21] pieisgood commented on #95
This issue has been resolved for me by the latest update.

[2015-12-02 11:13] mczernin opened #97 "tvOS Support"
Any news when produce will support creating tvOS Apps on iTC & Dev Portal?

Cheers,
Max

[2015-12-03 19:53] none2011 opened #99 "Produce In-App Purchase"
Hi Guys, Thank you for the great jobs.
Do you think adding function of creating IAP for some app is also possible with produce?

Thanks

[2015-12-04 01:01] gjandrejko commented on #97
+1

[2015-12-07 10:22] nAviram opened #101 "Runtime ERROR: undefined method `select_team' for #<Spaceship::TunesClient:....>"
I just updated my produce from version 1.0.0 to 1.1.0.
when I run the command:

 produce --username user@name.com --app_identifier com.test.test2 --app_name 'CoolAppName' --app_version 1.1.0 --sku balbalbalSKU --language English --company_name 'CoolCompany' --skip_devcenter

and I'm getting this error:
/Library/Ruby/Gems/2.0.0/gems/produce-1.1.0/lib/produce/itunes_connect.rb:10:in `run': undefined

[2015-12-08 14:29] mackoj opened #102 "What itc_team_id and itc_team_name are ?"
What are itc_team_id and itc_team_name ?

[2015-12-08 19:49] dtgallant opened #103 "can't create app with "App Manager" credentials"
Are itunesconnect users of type "App Manager" unable to create new apps at this point?  Works fine with the itunesconnect Team Agent user.

If not currently available is this an upcoming feature?

thanks,

[2015-12-09 10:35] osrufung commented on #101
@nAviram It's a version dependency problem with SpaceShip gem. You can "solve" the problem by updating spaceship to the 'spaceship-0.15.2' version. ;)

[2015-12-09 23:33] elabda3 opened #104 "Can't create any apps"
here is problem

/Library/Ruby/Gems/2.0.0/gems/produce-1.1.0/lib/produce/itunes_connect.rb:10:in `run': undefined method `select_team' for #<Spaceship::TunesClient:0x00fd00c9006> (NoMethodError)
	from /Library/Ruby/Gems/2.0.0/gems/produce-1.1.0/lib/produce/manager.rb:8:in `start_producing'
	from /Library/Ruby/Gems/2.0.0/gems/produce-1.1.0/bin/produce:33:in `block (2 levels) in run'
	from /Library/

[2015-12-13 23:46] KrauseFx commented on #104
Could you update `spaceship` using `sudo gem update spaceship`? :+1:

[2015-12-13 23:47] KrauseFx commented on #104
Yeah, this should resolve this issue, sorry for the trouble.

[2015-12-13 23:47] #104 closed

[2015-12-13 23:48] KrauseFx commented on #101
Sorry about this, please update using `sudo gem update spaceship`

[2015-12-13 23:49] #101 closed

[2015-12-13 23:50] KrauseFx commented on #102
Where did you find those names?

[code]

[code]

[2015-12-13 23:51] KrauseFx commented on #99
Sorry, that's not planned right now. You can subscribe to https://github.com/fastlane/deliver/issues/35

[2015-12-13 23:51] #99 closed

[2015-12-13 23:51] KrauseFx commented on #95
Oh yeah :+1:

[2015-12-13 23:51] #95 closed

[2015-12-13 23:51] KrauseFx commented on #94
Not sure, in general all fastlane tools don't do anything destructive. What do you recommend adding to the README?

[2015-12-13 23:52] KrauseFx commented on #64
Oh yeah, thanks for confirming @patoroco :+1:

[2015-12-13 23:52] #64 closed

[2015-12-13 23:56] KrauseFx commented on #90
Okay cool. I'm working on a new version of `spaceship` which will show the error messages in a nicer way :+1:

[2015-12-13 23:56] #90 closed

[2015-12-13 23:57] KrauseFx commented on #88
Yeah, this should be fixed. Feel free to re-open if you still run into this issue.

[2015-12-13 23:57] #88 closed

[2015-12-14 00:01] KrauseFx commented on #87
Agreed. Since I can't reproduce this error it's really hard to add this feature now.

[2015-12-14 00:01] KrauseFx commented on #87
This should be moved to spaceship, feel free to submit a new issue there :+1:

[2015-12-14 00:01] #87 closed

[2015-12-14 09:24] mackoj commented on #102
In the release notes.

Thanks,

[2015-12-14 09:24] #102 closed

[2015-12-16 05:29] KelvinJin commented on #58
Would it be acceptable if we add the `app_name` entry for a specific lane in the `Appfile`? So that `produce` can use it together with the `app_identifier` when creating the new AppID. Something like the following:

[code]

[2015-12-16 06:06] KrauseFx commented on #58
Sorry no, the `Appfile` is only for the most basic metadata. I'll close this issue for now, as I don't think it's the right approach to change this.

[2015-12-16 06:06] #58 closed

[2015-12-16 06:06] KrauseFx commented on #58
@KelvinJin You can always pass the app name from within your `Fastfile` :+1:

[2015-12-17 12:52] gfreh opened #105 "iTunes Connect app produce crash"
Hi, guys.

I'm not really sure it's a bug... but let's see:

I've written a script that calls produce passing all necessary parameters. Everything was working fine, but, as we have to developer teams, it was always asking me what team I'd like to use.

Taking a look into the global options list, I've found this two:

[code]
Then I tried to use them... `--itc_team_name` seems to work fine, but `--i

[2015-12-18 19:35] ohayon commented on #105
hey @gfreh! thanks for submitting this issue! we will look into this and see whats going on. right off the bat based on your report it sounds like there could be a little type mismatch int the code.

[2015-12-30 23:30] chaffeqa commented on #66
Is there a way to programmatically call these in the `Fastfile`?

My best guess is something like `Produce::Service.enable(OpenStruct.new(...))` but that obviously seems sub-optimal

[2015-12-31 14:38] chaffeqa commented on #83
I dont think spaceship has the api for creating a cloudkit yet.

May be useful to do the same as the app groups as with cloudkit

[2016-01-04 10:13] frranck opened #106 "Getting the created app id"
Hi,
I want to use the app apple id that is showing up at the last line of produce when it creates an app in my scripts, unfortunately each time there is a new version of produce the output get messed up with the "update message"

[code]
Could you show those messages before displaying the app id ?
Is there a safe way to collect that information ?

[2016-01-04 14:58] KrauseFx commented on #106
Ahh, very good point. You could either disable the update checks using the environment variable or just `fastlane` to call `produce`, as you'll get the apple id as a return value.

[2016-01-05 05:41] KrauseFx commented on #66
@chaffeqa the easiest way is probably to just add `sh "produce ..."` to your `Fastfile` :+1:

[2016-01-05 05:41] #66 closed

[2016-01-05 13:11] chaffeqa commented on #66
actually, I was able to hack together a solution that may be portable to the DSL:

[code]

Let me know if it would be worthwhile porting those to an `action`

[2016-01-05 17:08] frranck commented on #106
@KrauseFx thanks

[2016-01-07 09:34] KrauseFx commented on #106
:+1:

[2016-01-07 09:34] #106 closed

[2016-01-14 15:55] ohayon commented on #105
hey @gfreh just wanted to check in here. is this still an issue you're experiencing? if so, would you mind sharing the snippet of code that calls `produce`?

[2016-01-15 10:54] kapyar opened #108 "Not a git repository (or any of the parent directories):"
#f89361ff0e027afe935136b06a8a01e8 - crash number
My fastlane file looks
[code]
When I run `fastlane appstore` I got following issue:

*fastlane appstore
fatal: Not a git repository (or any of the parent directories): .git*

[2016-01-15 14:49] #108 closed

[2016-01-15 14:50] kapyar commented on #108
Hey I found where was the problem I simply miss `,`after `app_name` and `app_identifier`

[2016-01-28 09:17] wkoszek commented on #94
@patoroco Same problem here.
@KrauseFx is there an API for 'delete' functionality? It'd be very helpful, since iTunes Connect doesn't have "Delete" a button after you create an app. So I made `HelloWorld` and some other toy apps for testing, but have no way to clean it up. I would be OK with destructive+verbose stuff, since you already have to know what you're doing with stuff like `fastlane`.

[2016-01-28 10:00] ehuebner opened #110 "Create new version"
Hi,
when i already have version "1.0" in the App Store and use produce with version "1.1" it pushes the information without comlaining. But the result is the information are not set, of cause, because the version does not match. It would be very nice to create the new version or to have the option to create the new version if the version that was passed to produce does not match the current versio

[2016-01-28 10:28] mortenholmgaard opened #111 "Invalid request body"
Crash report: 9d17043d795f9d58f2823046ce83ede4 - "invalid request body"

When i call this code with create_itc = true it fails with the above crash, but when I call it with to create devcenter it works fine:
[code]

I can't figure out what is wrong with it.

[2016-01-28 14:05] gran33 opened #112 "Unexpected Error"
[code]

[2016-01-28 21:50] KrauseFx commented on #112
Please update spaceship using `sudo gem update spaceship`

[2016-01-28 21:55] gran33 commented on #112
I got this, the problem is because of there is already bundle ID as I try to submit, but iTunes connect returnes unexpected error.
It occurs because I changed the user I used to used but didn't changed the bundle ID.
I wish fastlane were tell me this error :)

[2016-01-28 21:55] #112 closed

[2016-01-29 22:36] vpolouchkine commented on #111
Can you please post the full log and the version you're currently using?

[2016-01-30 12:08] ehuebner commented on #110
Okay nevermind. Solved by `deliver -z`.

[2016-01-30 12:08] #110 closed

[2016-01-30 14:32] mortenholmgaard commented on #111
I don't know what else to post - Can't you see the that in the crash report?
I am using latest version

[2016-01-31 19:48] wkoszek commented on #43
Hi guys. Same issue here. Also the error warning has some duplicated text

[code]

[2016-02-01 13:19] Wojcik opened #113 "Primary language"
Hi. Is it possible to get a primary language from the app uploaded to the itunes connect?
I've tried to use Spaceship to get the app info but there is no information about this.

[2016-02-01 18:58] KrauseFx commented on #113
Sorry, no, that's currently not possible

[2016-02-01 18:58] KrauseFx commented on #113
May I ask what you'd like to use it for?

[2016-02-01 18:58] KrauseFx commented on #43
@wkoszek that error is not related

The name of your app is already taken

[2016-02-01 20:56] Wojcik commented on #113
I have many(>100) apps with different primary languages uploaded to the itunes. For some of this apps I don't have a record about which language is set as default. So I wanted to put fetching info about the app to the beginning of the script and later set this language in produce.

[2016-02-01 20:56] Wojcik commented on #113
Thanks for the answer btw.

[2016-02-01 21:33] wkoszek commented on #43
@KrauseFx hm.. OK. Could we fallback gracefully somehow? I'm in the process of figuring out the flow for my app.

What would be cool: ability to run the whole flow for app creation/registration/uploading always. Something like: "create if not exists" in SQL.

[2016-02-01 21:59] KrauseFx commented on #113
Cool. Actually this should be moved over to spaceship as feature request. Feel free to open an issue over there :+1:

[2016-02-01 21:59] #113 closed

[2016-02-01 22:02] KrauseFx commented on #43
@wkoszek so how would that look like? If the name is already taken the only thing `produce` could do is to select a random name to bypass the iTunes Connect validation.

[2016-02-02 15:47] SPDEX opened #114 "Upcase values not working for PRODUCE_SKIP_DEVCENTER"
With PRODUCE_SKIP_DEVCENTER="FALSE" produce is not working, you should use lowercase, PRODUCE_SKIP_DEVCENTER="false" to work.

[2016-02-02 18:57] KrauseFx commented on #114
So it works with `false`, but not with `FALSE`?

[2016-02-02 18:58] #114 closed

[2016-02-02 18:58] KrauseFx commented on #114
Alright, pushed a fix, this will be possible in the next release :+1:

[2016-02-02 19:28] SPDEX commented on #114
Yes, Thank you!

[2016-02-02 19:35] backslash-f commented on #103
Yeah, I have the same question. For me, the returned error message is:

`/Users/fernando/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/spaceship-0.19.1/lib/spaceship/portal/ui/select_team.rb:37:in`select_team': Your account is in no teams (RuntimeError)`

Which is not true, since I can login with that account in iTunes Connect and manage apps (app manager role).

Thanks.

[2016-02-03 08:59] mortenholmgaard commented on #111
@vpolouchkine will you have a look at it?

[2016-02-05 14:21] ShaunakP opened #115 "Asking for Team name again even if I specify in Fastlane"
I am having multiple teams in iTunes connect account as well as Apple Dev account. When creating new app using produce and I specify which team name to use, it still says "Multiple teams found, please enter the number of the team you want to use:"

Here's the produce code that I have ::
lane :produce2 do
    produce(
      username: 'shaunak.patel@marutitech.com',
      app_identifier: 'com.mtech.

[2016-02-05 17:22] KrauseFx commented on #115
You can add the team id or team name to your Appfile: https://github.com/fastlane/fastlane/blob/master/docs/Appfile.md :+1:

[2016-02-05 22:07] vpolouchkine commented on #103
Can you guys try running `sudo gem update spaceship`?

[2016-02-05 22:14] vpolouchkine commented on #111
Can you run `sudo gem update spaceship` so you're on latest?

[2016-02-06 14:43] backslash-f commented on #103
Hi. Thanks for taking a look at this issue.

Ok, just did. Same error: "[!] Your account is in no teams (RuntimeError)"

Am I doing this right?

`produce CREATE -u myAppleId@mail.com -a com.trippergroup.test -q AppTest -z '1.0' -k 'myiTunesConnectTeamID'`

I enabled the crash report. Here it is:
_Successfully submitted a crash report. If this is a problem with one of the tools specifically,
please

[2016-02-08 22:06] KrauseFx commented on #103
@Conaaando What happens when you login manually on the Developer Portal and iTunes Connect? You'll probably see some kind of error.

[2016-02-08 23:35] backslash-f commented on #103
Hi @KrauseFx!

No errors whatsoever. Here is a screenshot of that user logged on **iTunes Connect**:

http://cl.ly/1n1L2v1C3F1B

If I click on "My Apps", the list of apps under that account is shown. And I can manage them. Change their info, for example.

Now if I login on the **Developer Portal**, I can see the following message (expected):

_Your Developer Program has expired.Please visit the Pr

[2016-02-09 18:21] i2amsam commented on #115
@ShaunakP I'm closing this issue per @KrauseFx 's suggestion above, feel free to reopen with more details if the Appfile did not solve your issue.

[2016-02-09 18:21] #115 closed

[2016-02-09 18:24] KrauseFx commented on #103
That's why `produce` is not working

[2016-02-09 20:17] backslash-f commented on #103
All right. So I think what @dtgallant mentioned is correct: itunesconnect users of type "App Manager"  are unable to create new apps at this point. It works fine with the itunesconnect Team Agent user tho (same here).

Would that be an upcoming feature?

Thanks.

[2016-02-09 20:30] KrauseFx commented on #103
If it's not possible on iTC there is nothing `spaceship`/`produce` can do.

[2016-02-09 20:34] backslash-f commented on #103
Ok. Just to make it clear: it **IS** possible for that account to create a new app in ITC via web:

http://cl.ly/1O1P2M1I0c0v (taken just now)

The very same account is unable to do the same via spaceship/produce.

[2016-02-10 08:06] #105 closed

[2016-02-11 20:05] kapyar opened #117 "Get apple id of just created app"
I would like to create new app in iTunes connect and send link for this new created app in Slack, so I need id that apple generate for me when I create it. Is there any function in producer that returns this number?

Thanks

[2016-02-11 23:42] minwoolee opened #118 "Any way to specify prefix?"
Is there any way to specify app prefix? Thanks.

[2016-02-12 02:09] KrauseFx commented on #117
You'll have to call `produce` from your Ruby script using

[code]

[2016-02-12 02:25] i2amsam commented on #118
@minwoolee could you expand a bit more in what you're trying to accomplish?

[2016-02-12 06:16] minwoolee commented on #118
@i2amsam when registering an app ID, it's possible to specify a prefix. This does not seem possible with produce. Thanks.

![register](https://cloud.githubusercontent.com/assets/178365/13000310/b2710200-d10d-11e5-8514-6c65311b6b02.jpg)

[2016-02-12 10:31] kapyar commented on #117
Thank you very much.

[2016-02-12 10:31] #117 closed

[2016-02-12 12:07] mortenholmgaard commented on #111
I can't really test this right now because it had to release the version manually, and now I kind of need to wait to next time we are ready to release a version..

[2016-02-15 15:16] dpettit opened #119 "How to handle apostrophes in SKU"
HI,

One of my SKUs has an apostrophe in it, so when I insert it into the FASTFILE it causes issues.  I assume I should just use double quotes instead of single quotes, and escape the apostrophe, is that the best way to handle it?

[2016-02-15 15:17] KrauseFx commented on #119
This should work

[code]

[2016-02-16 04:31] dpettit commented on #119
Great!  Thank you so much!

[2016-02-16 04:31] #119 closed

[2016-02-18 13:29] iamdaiyuan opened #120 "doesn't support 2 step enabled accounts yet"

[2016-02-18 14:56] KrauseFx commented on #120
Moving further discussion to https://github.com/fastlane/spaceship/issues/168

[2016-02-18 14:56] #120 closed

[2016-03-03 20:02] satbirjhuti opened #121 "Is there a way to upload the app icon when uploading with produce?"
Just like deliver has the option `app_icon`, is there a way to upload the app icon png when uploading for testing with `produce`? I don't see it in the Global Options list when I do: `$ produce -h`.

[2016-03-07 19:04] #121 closed

[2016-03-07 19:04] #118 closed

[2016-03-07 19:04] #111 closed

[2016-03-07 19:05] #103 closed

[2016-03-07 19:05] #97 closed

[2016-03-07 19:05] #94 closed

[2016-03-07 19:05] #86 closed

[2016-03-07 19:05] #83 closed

[2016-03-07 19:05] #82 closed

[2016-03-07 19:06] #75 closed

[2016-03-07 19:06] #72 closed

[2016-03-07 19:06] #70 closed

[2016-03-07 19:06] #54 closed

[2016-03-07 19:06] #53 closed

[2016-03-07 19:07] #50 closed

[2016-03-07 19:07] #43 closed

[2016-03-07 19:07] #31 closed

[2016-03-07 19:07] #26 closed

[2016-03-07 19:07] #19 closed